<li class="col-3">
	<a href="#">
		<img src="images/work1.png" alt="작품1">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3">
	<a href="#">
		<img src="images/work2.jpg" alt="작품2">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3" data-type="icon">
	<a href="#">
		<img src="images/work2.jpg" alt="작품3">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>				
<li class="col-3">
	<a href="#">
		<img src="images/09나이별 소득.png" alt="작품1">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3">
	<a href="#">
		<img src="images/국정원워드클라우드.png" alt="작품2">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3">
	<a href="#">
		<img src="images/Rplot.png" alt="작품3">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>	

<li class="col-3">
	<a href="#">
		<img src="images/work1.png" alt="작품1">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3" data-type="icon">
	<a href="#">
		<img src="images/work2.jpg" alt="작품2">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3" data-type="icon">
	<a href="#">
		<img src="images/work2.jpg" alt="작품3">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>	
<li class="col-3">
	<a href="#">
		<img src="images/09나이별 소득.png" alt="작품1">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3">
	<a href="#">
		<img src="images/국정원워드클라우드.png" alt="작품2">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>
<li class="col-3">
	<a href="#">
		<img src="images/Rplot.png" alt="작품3">
		<div class="textbox">
			<h4>작품 제목을 작성해주세요.</h4>
			<p>작품의 설명을 요약해서 작성해 주세요. 작품의 설명을 요약해서 작성해 주세요.</p>
		</div>
	</a>
</li>	