h1 {
    font-size: 500%;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0;
}

h2 {
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 70px;
    color: $accent-color;
    // text-transform: uppercase;
    display: inline-block;
    padding-left: 5px;
}

h3 {
    font-size: 170%;
    margin-bottom: 50px;
    line-height: 120%;
}

p {
    @include text(24px, 300, $dark-color);
    line-height: 150%;
    margin-bottom: 15px;
}

a {
    color: $light-color;
}
