$background-color: #12151a;
$light-color: #eeeeee;
$dark-color: #484848;
$darker-color: #141414;
$accent-color: #b12533;
$main-font: 'Open Sans', sans-serif;
$menu-color: #eff1f6;
$light-color-darken: #f2f2f2;
