@charset "utf-8";
body, html { width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; }
a { text-decoration: none; }
ul { list-style: none; }  
.page { width: 100%; height: 100%; background-repeat: no-repeat;
    background-size:cover; background-position: center center;  }    
.hd { width: 100%; height:90px; background:transparent; 
    border-bottom:1px solid rgba(255, 255, 255, 0.6); 
    position:fixed; top: 0; left: 0; z-index:100; } 
.hdWrap { width: 1200px; margin:0 auto; position:relative; }    
.logo { display:block; width: 71px; height: 32px; 
    background-image:url("./image/logo_1.png");
    background-repeat: no-repeat; 
    background-size:100%; background-position: center center;
    text-indent:-9999px;    position:absolute;
    top:30px; left: 0;
} 
#topNav { position:absolute; right:0px; top:20px;  }
#topNav ul { clear:both; height:32px; line-height: 20px; }
#topNav li { float:left; padding-left:15px;}
#topNav a { color:#fff;  font-size:12px; }    
.hd:hover #topNav a { color:#333; }    
.dotSplit:after { content:"·"; padding-left:15px;}
.hd:hover #topNav a:hover { color:#16c; }
#mainNav { width:900px; margin:0 auto; margin-top:-20px; }
.hd:hover { background:rgba(255, 255, 255, 0.8); }  
.hd:hover .logo { background-image:url("./image/logo_2.png"); } 