@charset "utf-9";
    .ft { clear:both; width: 100%; height: 180px; margin-top: 20px; padding-top: 20px; } 
    .ftWrap { clear:both; width:100%; height: 100px; }
    .ftWrap.first { height:80px; background-color:#333; } 
    #relNav { width: 1200px; margin:0 auto; } 
    #relNav ul { clear:both; margin: 0; padding: 0; }    
    #relNav .col2 { width: 200px; float:left; height: 80px; 
        overflow:hidden; box-sizing: border-box; }   
    #relNav .col2 a { display:block; height:80px; } 
    .bgIcon { background-size:80px auto; background-position:center center; background-repeat: no-repeat; 
     color:#fff; text-align:center; }
    #relNav .col2 a.item1 { border-left:1px solid #444; border-right:1px solid #444; background-image:url("./image/logo_1.png"); padding-top:50px; background-position:center 10px; }
    #relNav .col2 a.item2 { background-image:url("./image/familysite_logo1.png"); } 
    #relNav .col2 a.item3 { background-image:url("./image/familysite_logo2.png"); } 
    #relNav .col2 a.item4 { background-image:url("./image/familysite_logo3.png"); } 
    #relNav .col2 a.item5 { background-image:url("./image/familysite_logo4.png"); } 
    #relNav .col2 a.item6 { background-image:url("./image/familysite_logo5.png"); } 
    #relNav .col2 a.item1:hover { background-image:url("./image/logo_2.png"); }
    #relNav .col2 a.item2:hover { background-image:url("./image/company_logo1.png"); } 
    #relNav .col2 a.item3:hover { background-image:url("./image/company_logo2.png"); } 
    #relNav .col2 a.item4:hover { background-image:url("./image/company_logo3.png"); } 
    #relNav .col2 a.item5:hover { background-image:url("./image/company_logo4.png"); } 
    #relNav .col2 a.item6:hover { background-image:url("./image/company_logo5.png"); } 
        
    #ftArea { width: 1200px; margin:0 auto; }
    .copyright { width:70%; float:left; font-size:0.8em; 
        line-height:1.6; padding-top: 35px; color:#777; }
    .ftLink { width: 28%; float: right; font-weight:300;
        padding-top: 45px; }
    .ftLink ul { margin:0; padding:0; }
    .spl:after { content:"|"; display:inline-block; padding-left:7px; padding-right:7px; }
    .ftLink li { float:left; }
    .ftLink li a { color:#444; padding:6px; font-size:0.8em; }
    .ftLink li a.item1 { border-radius:40px; border:1px solid #333; color:#333; padding-left: 10px; padding-right: 10px; }