/*
    아이콘 폰트 연결하기
*/
@charset "utf-8";

@font-face {
    font-family: kkticon;
    src: url(./fonts/kkticon.eot?3ka2yj);
    src: url(./fonts/kkticon.eot?3ka2yj#iefix) format("embedded-opentype"), url(./fonts/kkticon.woff2?3ka2yj) format("woff2"), url(./fonts/kkticon.ttf?3ka2yj) format("truetype"), url(./fonts/kkticon.woff?3ka2yj) format("woff"), url(./fonts/kkticon.svg?3ka2yj#kkticon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" ki-"],
[class^=ki-] {
    font-family: kkticon !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ki-home:before {
    content: "\e900"
}

.ki-home-o:before {
    content: "\e902"
}

.ki-bars:before {
    content: "\e91c"
}

.ki-hamburger-back:before {
    content: "\eb46"
}

.ki-hamburger-out:before {
    content: "\eb45"
}

.ki-apps:before {
    content: "\e903"
}

.ki-ellipsis-h:before {
    content: "\e94a"
}

.ki-ellipsis-v:before {
    content: "\e949"
}

.ki-drag-vertical:before {
    content: "\e996"
}

.ki-drag-handle:before {
    content: "\e960"
}

.ki-arrow-top:before {
    content: "\e912"
}

.ki-arrow-bottom:before {
    content: "\e904"
}

.ki-arrow-left:before {
    content: "\e906"
}

.ki-arrow-right:before {
    content: "\e907"
}

.ki-arrow-up:before {
    content: "\e915"
}

.ki-arrow-down:before {
    content: "\e905"
}

.ki-long-arrow-left:before {
    content: "\e908"
}

.ki-long-arrow-right:before {
    content: "\e90b"
}

.ki-long-arrow-up:before {
    content: "\e909"
}

.ki-long-arrow-down:before {
    content: "\e90a"
}

.ki-angle-left:before {
    content: "\e93b"
}

.ki-angle-left-min:before {
    content: "\e93c"
}

.ki-angle-left-thin:before {
    content: "\e93d"
}

.ki-angle-right:before {
    content: "\e93e"
}

.ki-angle-right-min:before {
    content: "\e93f"
}

.ki-angle-right-thin:before {
    content: "\e940"
}

.ki-angle-up:before {
    content: "\e944"
}

.ki-angle-up-min:before {
    content: "\e945"
}

.ki-angle-up-thin:before {
    content: "\e946"
}

.ki-angle-down:before {
    content: "\e941"
}

.ki-angle-down-min:before {
    content: "\e942"
}

.ki-angle-down-thin:before {
    content: "\e943"
}

.ki-caret-up:before {
    content: "\e92f"
}

.ki-caret-up-min:before {
    content: "\e930"
}

.ki-caret-down:before {
    content: "\e935"
}

.ki-caret-down-min:before {
    content: "\e936"
}

.ki-caret-up-circle:before {
    content: "\e931"
}

.ki-caret-up-circle-o:before {
    content: "\e932"
}

.ki-caret-down-circle:before {
    content: "\e937"
}

.ki-caret-down-circle-o:before {
    content: "\e938"
}

.ki-caret-up-square:before {
    content: "\e933"
}

.ki-caret-up-square-o:before {
    content: "\e934"
}

.ki-caret-down-square:before {
    content: "\e939"
}

.ki-caret-down-square-o:before {
    content: "\e93a"
}

.ki-arrows-h:before {
    content: "\e90e"
}

.ki-arrows-v:before {
    content: "\e90f"
}

.ki-expand:before {
    content: "\e910"
}

.ki-compress:before {
    content: "\e911"
}

.ki-arrows:before {
    content: "\e90c"
}

.ki-arrows-alt:before {
    content: "\e90d"
}

.ki-compare-arrows:before {
    content: "\e947"
}

.ki-scroll:before {
    content: "\e94b"
}

.ki-dashboard:before {
    content: "\e948"
}

.ki-dashboard-o:before {
    content: "\e95e"
}

.ki-refresh:before {
    content: "\e973"
}

.ki-catched:before {
    content: "\e923"
}

.ki-renew:before {
    content: "\e977"
}

.ki-sync:before {
    content: "\e982"
}

.ki-eye:before {
    content: "\e951"
}

.ki-eye-o:before {
    content: "\e950"
}

.ki-eye-off:before {
    content: "\e953"
}

.ki-eye-slash:before {
    content: "\e953"
}

.ki-eye-off-o:before {
    content: "\e952"
}

.ki-eye-slash2:before {
    content: "\e952"
}

.ki-lock:before {
    content: "\e964"
}

.ki-lock-o:before {
    content: "\e966"
}

.ki-unlock:before {
    content: "\e965"
}

.ki-unlock-o:before {
    content: "\e967"
}

.ki-trash:before {
    content: "\e96e"
}

.ki-trash-o:before {
    content: "\e96f"
}

.ki-flag:before {
    content: "\e961"
}

.ki-flag-o:before {
    content: "\e962"
}

.ki-expand-square:before {
    content: "\e954"
}

.ki-compress-square:before {
    content: "\e955"
}

.ki-log-in:before {
    content: "\e963"
}

.ki-log-out:before {
    content: "\e972"
}

.ki-search:before {
    content: "\e97a"
}

.ki-magnifier:before {
    content: "\e97a"
}

.ki-zoom-in:before {
    content: "\e97b"
}

.ki-magnifier-expand:before {
    content: "\e97b"
}

.ki-zoom-out:before {
    content: "\e97c"
}

.ki-magnifier-reduce:before {
    content: "\e97c"
}

.ki-subdirectory:before {
    content: "\e97e"
}

.ki-subdirectory-arrow:before {
    content: "\e981"
}

.ki-external-link:before {
    content: "\e980"
}

.ki-cog:before {
    content: "\e986"
}

.ki-view-array:before {
    content: "\e983"
}

.ki-view-carousel:before {
    content: "\e984"
}

.ki-view-column:before {
    content: "\e985"
}

.ki-view-day:before {
    content: "\e98d"
}

.ki-view-list:before {
    content: "\e993"
}

.ki-view-module:before {
    content: "\e997"
}

.ki-view-stream:before {
    content: "\e99a"
}

.ki-wrench:before {
    content: "\e99b"
}

.ki-filter:before {
    content: "\e9d9"
}

.ki-funnel:before {
    content: "\e9d9"
}

.ki-plus:before {
    content: "\e913"
}

.ki-plus-min:before {
    content: "\e914"
}

.ki-plus-thin:before {
    content: "\e9c5"
}

.ki-minus:before {
    content: "\e91a"
}

.ki-minus-min:before {
    content: "\e91b"
}

.ki-minus-thin:before {
    content: "\e9c1"
}

.ki-close:before {
    content: "\e921"
}

.ki-close-min:before {
    content: "\e922"
}

.ki-close-thin:before {
    content: "\e9af"
}

.ki-check:before {
    content: "\e928"
}

.ki-check-min:before {
    content: "\e929"
}

.ki-check-thin:before {
    content: "\e92a"
}

.ki-plus-circle:before {
    content: "\e916"
}

.ki-plus-circle-o:before {
    content: "\e917"
}

.ki-minus-circle:before {
    content: "\e91d"
}

.ki-minus-circle-o:before {
    content: "\e91e"
}

.ki-close-circle:before {
    content: "\e924"
}

.ki-close-circle-o:before {
    content: "\e925"
}

.ki-check-circle:before {
    content: "\e92b"
}

.ki-check-circle-o:before {
    content: "\e92c"
}

.ki-plus-square:before {
    content: "\e918"
}

.ki-plus-square-o:before {
    content: "\e919"
}

.ki-minus-square:before {
    content: "\e91f"
}

.ki-minus-square-o:before {
    content: "\e920"
}

.ki-close-square:before {
    content: "\e926"
}

.ki-close-square-o:before {
    content: "\e927"
}

.ki-check-square:before {
    content: "\e92d"
}

.ki-check-box:before {
    content: "\e92d"
}

.ki-checkbox-blank:before {
    content: "\ea0e"
}

.ki-check-square-o:before {
    content: "\e92e"
}

.ki-checkbox-checked:before {
    content: "\e92e"
}

.ki-radiobox-blank:before {
    content: "\e9c6"
}

.ki-radiobox-checked:before {
    content: "\e9c7"
}

.ki-cut:before {
    content: "\e9b0"
}

.ki-label:before {
    content: "\e9b1"
}

.ki-label-o:before {
    content: "\e9b2"
}

.ki-library-add:before {
    content: "\e9b3"
}

.ki-library-bookmark:before {
    content: "\e9b4"
}

.ki-tagged-book:before {
    content: "\e9b4"
}

.ki-save:before {
    content: "\e9b9"
}

.ki-lightbulb:before {
    content: "\e9be"
}

.ki-idea:before {
    content: "\e9be"
}

.ki-lightbulb-o:before {
    content: "\e9bf"
}

.ki-link:before {
    content: "\e9c0"
}

.ki-package:before {
    content: "\e9c2"
}

.ki-archive:before {
    content: "\e9c2"
}

.ki-pen:before {
    content: "\e9c3"
}

.ki-pen-o:before {
    content: "\e9c4"
}

.ki-undo:before {
    content: "\e9d2"
}

.ki-redo:before {
    content: "\e9c8"
}

.ki-switch-off:before {
    content: "\e9c9"
}

.ki-switch-on:before {
    content: "\e9ca"
}

.ki-toggle-off:before {
    content: "\e9cb"
}

.ki-toggle-on:before {
    content: "\e9cd"
}

.ki-bookmark:before {
    content: "\ea1c"
}

.ki-bookmark-o:before {
    content: "\ea1d"
}

.ki-tag:before {
    content: "\ea36"
}

.ki-tags:before {
    content: "\ea37"
}

.ki-mail:before {
    content: "\ea06"
}

.ki-envelope:before {
    content: "\ea06"
}

.ki-social-email:before {
    content: "\ea06"
}

.ki-mail-o:before {
    content: "\ea07"
}

.ki-mail-read:before {
    content: "\ea08"
}

.ki-envelope-open:before {
    content: "\ea08"
}

.ki-mail-read-o:before {
    content: "\ea09"
}

.ki-send:before {
    content: "\ea0b"
}

.ki-paper-plane:before {
    content: "\ea0b"
}

.ki-reply:before {
    content: "\ea0d"
}

.ki-reply-all:before {
    content: "\ea0c"
}

.ki-share:before {
    content: "\e9fa"
}

.ki-share-l:before {
    content: "\e9fa"
}

.ki-share-alt:before {
    content: "\e9e9"
}

.ki-share-alt-o:before {
    content: "\e9ea"
}

.ki-call:before {
    content: "\e9d3"
}

.ki-phone:before {
    content: "\e9d3"
}

.ki-call-outgoing:before {
    content: "\e9d4"
}

.ki-call-incoming:before {
    content: "\e9d6"
}

.ki-call-reception:before {
    content: "\e9d6"
}

.ki-call-missed:before {
    content: "\e9d5"
}

.ki-comment:before {
    content: "\e9d7"
}

.ki-comment-o:before {
    content: "\e9d8"
}

.ki-forum:before {
    content: "\e9f0"
}

.ki-comments:before {
    content: "\e9f0"
}

.ki-forum-o:before {
    content: "\e9f1"
}

.ki-video-call:before {
    content: "\ea18"
}

.ki-ki-film:before {
    content: "\ea18"
}

.ki-voicemail:before {
    content: "\ea19"
}

.ki-note:before {
    content: "\ea1a"
}

.ki-note-o:before {
    content: "\ea1b"
}

.ki-at:before {
    content: "\ea0a"
}

.ki-message:before {
    content: "\ea14"
}

.ki-message-o:before {
    content: "\ea15"
}

.ki-speech:before {
    content: "\ea12"
}

.ki-speech-o:before {
    content: "\ea13"
}

.ki-user-address:before {
    content: "\e9f4"
}

.ki-profile:before {
    content: "\e9f2"
}

.ki-user-circle:before {
    content: "\e9f2"
}

.ki-profile-o:before {
    content: "\ea2a"
}

.ki-user:before {
    content: "\e9f3"
}

.ki-users:before {
    content: "\e9f9"
}

.ki-group:before {
    content: "\ea2e"
}

.ki-community:before {
    content: "\ea2e"
}

.ki-user-plus:before {
    content: "\e9f7"
}

.ki-users-plus:before {
    content: "\ea17"
}

.ki-user-o:before {
    content: "\e9f5"
}

.ki-users-o:before {
    content: "\ea04"
}

.ki-user-plus-o:before {
    content: "\e9f8"
}

.ki-star:before {
    content: "\ea0f"
}

.ki-star-o:before {
    content: "\ea16"
}

.ki-heart:before {
    content: "\ea10"
}

.ki-heart-o:before {
    content: "\ea11"
}

.ki-thumbs-up:before {
    content: "\ea28"
}

.ki-thumbs-down:before {
    content: "\ea29"
}

.ki-crown:before {
    content: "\e9da"
}

.ki-trophy:before {
    content: "\ea38"
}

.ki-emoticon-happy:before {
    content: "\e9dd"
}

.ki-happy-face:before {
    content: "\e9dd"
}

.ki-emoticon-happy-o:before {
    content: "\e9ed"
}

.ki-emoticon-smiley:before {
    content: "\e9e4"
}

.ki-smiley-face:before {
    content: "\e9e4"
}

.ki-emoticon-smiley-o:before {
    content: "\e9e6"
}

.ki-emoticon-neutral:before {
    content: "\e9eb"
}

.ki-neutral-face:before {
    content: "\e9eb"
}

.ki-emoticon-neutral-o:before {
    content: "\e9ec"
}

.ki-emoticon-bad:before {
    content: "\e9de"
}

.ki-emoticon-bad-o:before {
    content: "\e9df"
}

.ki-emoticon-sad:before {
    content: "\e9ee"
}

.ki-sad-face:before {
    content: "\e9ee"
}

.ki-emoticon-sad-o:before {
    content: "\e9ef"
}

.ki-emoticon-devil:before {
    content: "\e9e2"
}

.ki-angry-face:before {
    content: "\e9e2"
}

.ki-emoticon-devil-o:before {
    content: "\e9e3"
}

.ki-emoticon-cool:before {
    content: "\e9e0"
}

.ki-emoticon-cool-o:before {
    content: "\e9e1"
}

.ki-bell:before {
    content: "\e99c"
}

.ki-bell-o:before {
    content: "\e99d"
}

.ki-bell-off:before {
    content: "\e99e"
}

.ki-bell-slash:before {
    content: "\e99e"
}

.ki-bell-off-o:before {
    content: "\e99f"
}

.ki-alarm:before {
    content: "\ea1e"
}

.ki-alarm-o:before {
    content: "\ea1f"
}

.ki-alarm-off:before {
    content: "\ea20"
}

.ki-time:before {
    content: "\ea2b"
}

.ki-time-o:before {
    content: "\ea2c"
}

.ki-snooze:before {
    content: "\ea27"
}

.ki-calendar:before {
    content: "\e9a0"
}

.ki-calendar-add:before {
    content: "\e9a1"
}

.ki-calendar-remove:before {
    content: "\e9a2"
}

.ki-calendar-cancle:before {
    content: "\e9a3"
}

.ki-calendar-check:before {
    content: "\e9a4"
}

.ki-calendar-list:before {
    content: "\e9a5"
}

.ki-new:before {
    content: "\e9a8"
}

.ki-new-o:before {
    content: "\e9a9"
}

.ki-info:before {
    content: "\e9a6"
}

.ki-information-circle:before {
    content: "\e9a6"
}

.ki-info-o:before {
    content: "\e9a7"
}

.ki-help:before {
    content: "\e9ad"
}

.ki-unknown-circle:before {
    content: "\e9ad"
}

.ki-help-o:before {
    content: "\e9ac"
}

.ki-error:before {
    content: "\e9aa"
}

.ki-error-o:before {
    content: "\e9ab"
}

.ki-ban:before {
    content: "\e9ae"
}

.ki-slash-circle:before {
    content: "\e9ae"
}

.ki-warning:before {
    content: "\ea2d"
}

.ki-hand-paper:before {
    content: "\ea21"
}

.ki-key:before {
    content: "\ea22"
}

.ki-security:before {
    content: "\ea24"
}

.ki-shield:before {
    content: "\ea24"
}

.ki-shield-checked:before {
    content: "\ea25"
}

.ki-check-shield:before {
    content: "\ea25"
}

.ki-shield-checked-o:before {
    content: "\ea26"
}

.ki-align-justify:before {
    content: "\e956"
}

.ki-align-left:before {
    content: "\e957"
}

.ki-align-center:before {
    content: "\e958"
}

.ki-align-right:before {
    content: "\e959"
}

.ki-indent:before {
    content: "\e95a"
}

.ki-dedent:before {
    content: "\e95b"
}

.ki-list-dot:before {
    content: "\e95c"
}

.ki-list-ul:before {
    content: "\e95c"
}

.ki-list-square:before {
    content: "\e95d"
}

.ki-list-ul-square:before {
    content: "\e95d"
}

.ki-list-number:before {
    content: "\ea6b"
}

.ki-list-ol:before {
    content: "\ea6b"
}

.ki-list:before {
    content: "\e95f"
}

.ki-list-ul-l:before {
    content: "\e95f"
}

.ki-paragraph:before {
    content: "\e968"
}

.ki-bold:before {
    content: "\e96a"
}

.ki-italic:before {
    content: "\e96c"
}

.ki-strikethrough:before {
    content: "\e969"
}

.ki-underline:before {
    content: "\e96b"
}

.ki-caps:before {
    content: "\e96d"
}

.ki-text-size:before {
    content: "\eaba"
}

.ki-text-type:before {
    content: "\e97f"
}

.ki-type:before {
    content: "\e97f"
}

.ki-spellcheck:before {
    content: "\eaa9"
}

.ki-translate:before {
    content: "\eabc"
}

.ki-line-height:before {
    content: "\e976"
}

.ki-lineheight:before {
    content: "\e976"
}

.ki-font:before {
    content: "\ea63"
}

.ki-text-format:before {
    content: "\eab9"
}

.ki-text-color:before {
    content: "\eaaa"
}

.ki-color-fill:before {
    content: "\ea5e"
}

.ki-color-helper:before {
    content: "\ea5f"
}

.ki-scissors:before {
    content: "\e994"
}

.ki-document:before {
    content: "\e998"
}

.ki-form:before {
    content: "\e998"
}

.ki-palette:before {
    content: "\e995"
}

.ki-color:before {
    content: "\e995"
}

.ki-color-dropper:before {
    content: "\e97d"
}

.ki-eye-dropper:before {
    content: "\e97d"
}

.ki-eraser:before {
    content: "\e970"
}

.ki-eraser-o:before {
    content: "\e971"
}

.ki-sort-asc:before {
    content: "\e974"
}

.ki-lineheight-plus:before {
    content: "\e974"
}

.ki-sort-desc:before {
    content: "\e975"
}

.ki-lineheight-minus:before {
    content: "\e975"
}

.ki-rotate-right:before {
    content: "\e978"
}

.ki-rotate-left:before {
    content: "\e979"
}

.ki-layout:before {
    content: "\e988"
}

.ki-layout-top:before {
    content: "\e988"
}

.ki-layout-o:before {
    content: "\e98e"
}

.ki-layout-full:before {
    content: "\e989"
}

.ki-layout-full-o:before {
    content: "\e98f"
}

.ki-layout-snb:before {
    content: "\e98a"
}

.ki-layout-top-left:before {
    content: "\e98a"
}

.ki-layout-snb-o:before {
    content: "\e990"
}

.ki-layout-aside:before {
    content: "\e98b"
}

.ki-layout-top-right:before {
    content: "\e98b"
}

.ki-layout-aside-o:before {
    content: "\e991"
}

.ki-layout-column:before {
    content: "\e98c"
}

.ki-layout-top-three:before {
    content: "\e98c"
}

.ki-layout-column-o:before {
    content: "\e992"
}

.ki-crop:before {
    content: "\e999"
}

.ki-border-color:before {
    content: "\ea39"
}

.ki-line-style:before {
    content: "\ea66"
}

.ki-line-weight:before {
    content: "\ea67"
}

.ki-border-all:before {
    content: "\e987"
}

.ki-border-bottom:before {
    content: "\ea32"
}

.ki-border-clear:before {
    content: "\ea33"
}

.ki-border-horizontal:before {
    content: "\ea45"
}

.ki-border-inner:before {
    content: "\ea46"
}

.ki-border-left:before {
    content: "\ea49"
}

.ki-border-outer:before {
    content: "\ea4f"
}

.ki-border-right:before {
    content: "\ea51"
}

.ki-border-style:before {
    content: "\ea52"
}

.ki-border-top:before {
    content: "\ea54"
}

.ki-border-vertical:before {
    content: "\ea5c"
}

.ki-valign-top:before {
    content: "\eabf"
}

.ki-valign-bottom:before {
    content: "\eabd"
}

.ki-valign-center:before {
    content: "\eabe"
}

.ki-code:before {
    content: "\ea5d"
}

.ki-emoticon:before {
    content: "\ea62"
}

.ki-emoji:before {
    content: "\ea62"
}

.ki-face:before {
    content: "\ea62"
}

.ki-link-insert:before {
    content: "\ea6a"
}

.ki-link-l:before {
    content: "\ea6a"
}

.ki-link-broken:before {
    content: "\ea68"
}

.ki-unlink:before {
    content: "\ea68"
}

.ki-omega:before {
    content: "\ea6c"
}

.ki-opacity:before {
    content: "\ea6d"
}

.ki-overscan:before {
    content: "\ea78"
}

.ki-paperclip:before {
    content: "\ea7f"
}

.ki-transform:before {
    content: "\eabb"
}

.ki-power-off:before {
    content: "\e94c"
}

.ki-esc:before {
    content: "\e94f"
}

.ki-command:before {
    content: "\e94e"
}

.ki-alt:before {
    content: "\e94d"
}

.ki-tab:before {
    content: "\eaf8"
}

.ki-backspace:before {
    content: "\eac4"
}

.ki-capslock:before {
    content: "\ead6"
}

.ki-watch:before {
    content: "\e9b5"
}

.ki-mouse:before {
    content: "\e9b6"
}

.ki-sdcard:before {
    content: "\e9b7"
}

.ki-usb-drive:before {
    content: "\e9b8"
}

.ki-diskette:before {
    content: "\e9ba"
}

.ki-print:before {
    content: "\e9bb"
}

.ki-social-print:before {
    content: "\e9bb"
}

.ki-fax:before {
    content: "\e9bc"
}

.ki-webcam:before {
    content: "\e9cc"
}

.ki-projector:before {
    content: "\e9ce"
}

.ki-presentation:before {
    content: "\e9cf"
}

.ki-plug:before {
    content: "\e9d0"
}

.ki-speaker:before {
    content: "\ea60"
}

.ki-airplay:before {
    content: "\eac0"
}

.ki-alarm-clock:before {
    content: "\eac1"
}

.ki-alarm-clock-o:before {
    content: "\eac2"
}

.ki-alarm-clock-off:before {
    content: "\eac3"
}

.ki-battery:before {
    content: "\eac5"
}

.ki-battery-full:before {
    content: "\eac5"
}

.ki-battery-o:before {
    content: "\ead0"
}

.ki-battery-min:before {
    content: "\ead0"
}

.ki-battery-10:before {
    content: "\eac6"
}

.ki-battery-20:before {
    content: "\eac7"
}

.ki-battery-30:before {
    content: "\eac8"
}

.ki-battery-40:before {
    content: "\eac9"
}

.ki-battery-50:before {
    content: "\eacb"
}

.ki-battery-60:before {
    content: "\eacc"
}

.ki-battery-70:before {
    content: "\eacd"
}

.ki-battery-80:before {
    content: "\eace"
}

.ki-battery-90:before {
    content: "\eacf"
}

.ki-bluetooth:before {
    content: "\ead1"
}

.ki-bluetooth-off:before {
    content: "\ead2"
}

.ki-bluetooth-on:before {
    content: "\ead3"
}

.ki-bluetooth-search:before {
    content: "\ead4"
}

.ki-brightness:before {
    content: "\ead5"
}

.ki-clock:before {
    content: "\ead7"
}

.ki-clock-o:before {
    content: "\ead8"
}

.ki-contrast:before {
    content: "\ead9"
}

.ki-desktop:before {
    content: "\eada"
}

.ki-monitor:before {
    content: "\eada"
}

.ki-laptop:before {
    content: "\eae9"
}

.ki-devices:before {
    content: "\eadb"
}

.ki-tablet:before {
    content: "\eaf9"
}

.ki-mobile:before {
    content: "\eaed"
}

.ki-tv:before {
    content: "\eafb"
}

.ki-enter:before {
    content: "\eadc"
}

.ki-flashlight:before {
    content: "\eadd"
}

.ki-flashlight-off:before {
    content: "\eade"
}

.ki-flight-off:before {
    content: "\eadf"
}

.ki-flight-on:before {
    content: "\eae0"
}

.ki-gamepad:before {
    content: "\eae1"
}

.ki-gps:before {
    content: "\eae2"
}

.ki-gps-none:before {
    content: "\eae3"
}

.ki-gps-off:before {
    content: "\eae4"
}

.ki-hdd:before {
    content: "\eae5"
}

.ki-hdmi:before {
    content: "\eae6"
}

.ki-keyboard:before {
    content: "\eae7"
}

.ki-keyboard-o:before {
    content: "\eae8"
}

.ki-space-bar:before {
    content: "\eaf7"
}

.ki-lock-rotation:before {
    content: "\eaea"
}

.ki-chip:before {
    content: "\eaeb"
}

.ki-chip-o:before {
    content: "\eaec"
}

.ki-mouse-pointer:before {
    content: "\eaee"
}

.ki-router:before {
    content: "\eaef"
}

.ki-wifi-router:before {
    content: "\eaef"
}

.ki-router-o:before {
    content: "\eaf0"
}

.ki-signal:before {
    content: "\eaf1"
}

.ki-signal-1:before {
    content: "\eaf2"
}

.ki-signal-2:before {
    content: "\eaf3"
}

.ki-signal-3:before {
    content: "\eaf4"
}

.ki-signal-4:before {
    content: "\eaf5"
}

.ki-signal-none:before {
    content: "\eaf6"
}

.ki-touch:before {
    content: "\eafa"
}

.ki-usb:before {
    content: "\eafc"
}

.ki-wifi:before {
    content: "\eafd"
}

.ki-wifi-signal:before {
    content: "\eafd"
}

.ki-wifi-signal-mid:before {
    content: "\eafe"
}

.ki-wifi-signal-min:before {
    content: "\eaff"
}

.ki-wifi-signal-off:before {
    content: "\eb00"
}

.ki-chart-bar:before {
    content: "\e901"
}

.ki-book:before {
    content: "\ea34"
}

.ki-book-o:before {
    content: "\ea35"
}

.ki-play:before {
    content: "\ea3e"
}

.ki-caret-right:before {
    content: "\ea3e"
}

.ki-play-circle:before {
    content: "\ea40"
}

.ki-play-circle-o:before {
    content: "\ea3f"
}

.ki-pause-circle:before {
    content: "\ea3d"
}

.ki-pause-circle-o:before {
    content: "\ea3c"
}

.ki-pause:before {
    content: "\ea3b"
}

.ki-stop:before {
    content: "\ea41"
}

.ki-recording-stop:before {
    content: "\eb24"
}

.ki-recording:before {
    content: "\eb21"
}

.ki-record:before {
    content: "\eb21"
}

.ki-eject:before {
    content: "\ea42"
}

.ki-step-backward:before {
    content: "\ea43"
}

.ki-step-forward:before {
    content: "\ea44"
}

.ki-backward:before {
    content: "\ea47"
}

.ki-forward:before {
    content: "\ea48"
}

.ki-fast-backward:before {
    content: "\eb08"
}

.ki-fast-forward:before {
    content: "\eb07"
}

.ki-camera:before {
    content: "\ea4b"
}

.ki-camera-o:before {
    content: "\ea4a"
}

.ki-videocam:before {
    content: "\ea4d"
}

.ki-video-camera:before {
    content: "\ea4d"
}

.ki-videocam-o:before {
    content: "\ea4c"
}

.ki-image:before {
    content: "\ea50"
}

.ki-image-o:before {
    content: "\ea4e"
}

.ki-microphone-o:before {
    content: "\ea56"
}

.ki-microphone:before {
    content: "\ea57"
}

.ki-microphone-off:before {
    content: "\ea58"
}

.ki-microphone-slash:before {
    content: "\ea58"
}

.ki-volume-mute:before {
    content: "\ea59"
}

.ki-volume:before {
    content: "\ea59"
}

.ki-volume-down:before {
    content: "\ea5a"
}

.ki-volume-min:before {
    content: "\ea5a"
}

.ki-volume-up:before {
    content: "\ea5b"
}

.ki-volume-max:before {
    content: "\ea5b"
}

.ki-volume-off:before {
    content: "\eb39"
}

.ki-volume-slash:before {
    content: "\eb39"
}

.ki-album:before {
    content: "\ea61"
}

.ki-record-play:before {
    content: "\ea61"
}

.ki-cd-r:before {
    content: "\ea61"
}

.ki-headset:before {
    content: "\ea64"
}

.ki-music:before {
    content: "\ea65"
}

.ki-chart-pyramid:before {
    content: "\ea69"
}

.ki-chart-bar-square:before {
    content: "\eb01"
}

.ki-chart-line:before {
    content: "\eb02"
}

.ki-chart-pie:before {
    content: "\eb03"
}

.ki-chart-pie-o:before {
    content: "\eb04"
}

.ki-equalizer:before {
    content: "\eb05"
}

.ki-volume-bar:before {
    content: "\eb05"
}

.ki-equalizer-thin:before {
    content: "\ea55"
}

.ki-exposure:before {
    content: "\eb06"
}

.ki-flash:before {
    content: "\eb09"
}

.ki-flash-off:before {
    content: "\eb0a"
}

.ki-focus-center:before {
    content: "\eb0b"
}

.ki-focus-frame:before {
    content: "\eb0c"
}

.ki-focus-weak:before {
    content: "\eb11"
}

.ki-paper:before {
    content: "\eb1e"
}

.ki-paper-o:before {
    content: "\eb1f"
}

.ki-library-books:before {
    content: "\eb14"
}

.ki-library-books-o:before {
    content: "\eb16"
}

.ki-library-image:before {
    content: "\eb17"
}

.ki-library-image-o:before {
    content: "\eb18"
}

.ki-library-music:before {
    content: "\eb19"
}

.ki-library-video:before {
    content: "\eb1a"
}

.ki-movie:before {
    content: "\eb1b"
}

.ki-movie-o:before {
    content: "\eb1c"
}

.ki-pacman:before {
    content: "\eb1d"
}

.ki-radio:before {
    content: "\eb20"
}

.ki-repeat:before {
    content: "\eb25"
}

.ki-repeat-one:before {
    content: "\eb26"
}

.ki-shuffle:before {
    content: "\eb27"
}

.ki-timer:before {
    content: "\eb29"
}

.ki-timer-o:before {
    content: "\eb2a"
}

.ki-timer-off-o:before {
    content: "\eb2f"
}

.ki-timer-sand:before {
    content: "\eb30"
}

.ki-sandwatch-min:before {
    content: "\eb30"
}

.ki-timer-sand-o:before {
    content: "\eb31"
}

.ki-trending-flat:before {
    content: "\eb36"
}

.ki-trending-down:before {
    content: "\eb33"
}

.ki-decline:before {
    content: "\eb33"
}

.ki-trending-up:before {
    content: "\eb37"
}

.ki-rise:before {
    content: "\eb37"
}

.ki-tune:before {
    content: "\eb38"
}

.ki-map:before {
    content: "\eb22"
}

.ki-map-folding:before {
    content: "\eb22"
}

.ki-map-o:before {
    content: "\eb23"
}

.ki-my-location:before {
    content: "\eb5d"
}

.ki-location-arrow:before {
    content: "\eb58"
}

.ki-woman:before {
    content: "\ea2f"
}

.ki-man:before {
    content: "\ea30"
}

.ki-toilet:before {
    content: "\ea31"
}

.ki-pregnant-woman:before {
    content: "\eb61"
}

.ki-maternity:before {
    content: "\eb61"
}

.ki-walk:before {
    content: "\eb6d"
}

.ki-walking:before {
    content: "\eb6d"
}

.ki-run:before {
    content: "\eb63"
}

.ki-wheelchair:before {
    content: "\eb6e"
}

.ki-glass:before {
    content: "\eb28"
}

.ki-market:before {
    content: "\eb2b"
}

.ki-shopping-bag:before {
    content: "\eb2b"
}

.ki-pharmacy:before {
    content: "\eb2c"
}

.ki-laundry:before {
    content: "\eb2e"
}

.ki-florist:before {
    content: "\eb32"
}

.ki-hlz:before {
    content: "\eb34"
}

.ki-park:before {
    content: "\eb35"
}

.ki-airplane:before {
    content: "\eb3a"
}

.ki-all:before {
    content: "\eb3b"
}

.ki-flight-takeoff:before {
    content: "\eb3c"
}

.ki-flight:before {
    content: "\eb3c"
}

.ki-flight-land:before {
    content: "\eb3d"
}

.ki-bank:before {
    content: "\eb3e"
}

.ki-bank-o:before {
    content: "\eb3e"
}

.ki-beach:before {
    content: "\eb3f"
}

.ki-bicycle:before {
    content: "\eb40"
}

.ki-building:before {
    content: "\eb41"
}

.ki-bus:before {
    content: "\eb42"
}

.ki-business:before {
    content: "\eb43"
}

.ki-cafe:before {
    content: "\eb44"
}

.ki-cake:before {
    content: "\eb47"
}

.ki-car:before {
    content: "\eb48"
}

.ki-church:before {
    content: "\eb49"
}

.ki-city:before {
    content: "\eb4a"
}

.ki-compass:before {
    content: "\eb4b"
}

.ki-compass-o:before {
    content: "\eb4c"
}

.ki-convenience-store:before {
    content: "\eb4d"
}

.ki-directions:before {
    content: "\eb4e"
}

.ki-factory:before {
    content: "\eb4f"
}

.ki-fitness-center:before {
    content: "\eb50"
}

.ki-garden:before {
    content: "\eb51"
}

.ki-gas-station:before {
    content: "\eb52"
}

.ki-golf:before {
    content: "\eb53"
}

.ki-hand-pointing:before {
    content: "\eb54"
}

.ki-hospital:before {
    content: "\eb55"
}

.ki-hotel:before {
    content: "\eb56"
}

.ki-library:before {
    content: "\eb57"
}

.ki-maker:before {
    content: "\eb59"
}

.ki-marker-circle:before {
    content: "\eb59"
}

.ki-marker-plus:before {
    content: "\eb5b"
}

.ki-maker-drop:before {
    content: "\eb5f"
}

.ki-map-marker:before {
    content: "\eb5f"
}

.ki-marker-check:before {
    content: "\eb5a"
}

.ki-motorcycle:before {
    content: "\eb5c"
}

.ki-navigation:before {
    content: "\eb5e"
}

.ki-pool:before {
    content: "\eb60"
}

.ki-restaurant:before {
    content: "\eb62"
}

.ki-school:before {
    content: "\eb64"
}

.ki-ship:before {
    content: "\eb65"
}

.ki-spa:before {
    content: "\eb66"
}

.ki-stroller:before {
    content: "\eb67"
}

.ki-subway:before {
    content: "\eb68"
}

.ki-taxi:before {
    content: "\eb69"
}

.ki-theater:before {
    content: "\eb6a"
}

.ki-film:before {
    content: "\eb6a"
}

.ki-traffic:before {
    content: "\eb6b"
}

.ki-train:before {
    content: "\eb6c"
}

.ki-cart:before {
    content: "\eb6f"
}

.ki-cart-o:before {
    content: "\e9fb"
}

.ki-cart-add:before {
    content: "\e9fc"
}

.ki-cart-remove:before {
    content: "\e9fd"
}

.ki-basket:before {
    content: "\e9fe"
}

.ki-box:before {
    content: "\ea01"
}

.ki-fragile:before {
    content: "\ea02"
}

.ki-coupon:before {
    content: "\ea03"
}

.ki-shop:before {
    content: "\ea05"
}

.ki-gift:before {
    content: "\eb70"
}

.ki-present:before {
    content: "\eb70"
}

.ki-gift-o:before {
    content: "\ea3a"
}

.ki-exchange:before {
    content: "\ea53"
}

.ki-barter:before {
    content: "\ea53"
}

.ki-yuan:before {
    content: "\ea6e"
}

.ki-won:before {
    content: "\ea6f"
}

.ki-yen:before {
    content: "\ea70"
}

.ki-pound:before {
    content: "\ea71"
}

.ki-euro:before {
    content: "\ea72"
}

.ki-rial:before {
    content: "\ea73"
}

.ki-dollar:before {
    content: "\ea74"
}

.ki-peso:before {
    content: "\ea75"
}

.ki-rupee:before {
    content: "\ea76"
}

.ki-credit-card:before {
    content: "\ea77"
}

.ki-money:before {
    content: "\ea79"
}

.ki-piggy-bank:before {
    content: "\ea7a"
}

.ki-strongbox:before {
    content: "\ea7b"
}

.ki-briefcase:before {
    content: "\ea7c"
}

.ki-percent:before {
    content: "\ea7d"
}

.ki-calculator:before {
    content: "\ea7e"
}

.ki-medicine:before {
    content: "\eb2d"
}

.ki-receipt:before {
    content: "\eb71"
}

.ki-truck:before {
    content: "\eb72"
}

.ki-wallet:before {
    content: "\eb73"
}

.ki-file:before {
    content: "\ea94"
}

.ki-file-o:before {
    content: "\ea80"
}

.ki-file-add:before {
    content: "\ea95"
}

.ki-file-add-o:before {
    content: "\ea81"
}

.ki-file-remove:before {
    content: "\ea96"
}

.ki-file-remove-o:before {
    content: "\ea82"
}

.ki-file-text:before {
    content: "\ea97"
}

.ki-file-text-o:before {
    content: "\ea83"
}

.ki-documents:before {
    content: "\ea98"
}

.ki-stack-paper:before {
    content: "\ea98"
}

.ki-documents-o:before {
    content: "\ea84"
}

.ki-file-image:before {
    content: "\ea99"
}

.ki-file-image-o:before {
    content: "\ea85"
}

.ki-file-video:before {
    content: "\ea9a"
}

.ki-file-video-o:before {
    content: "\ea86"
}

.ki-file-music:before {
    content: "\ea9b"
}

.ki-file-music-o:before {
    content: "\ea87"
}

.ki-file-code:before {
    content: "\ea9c"
}

.ki-file-code-o:before {
    content: "\ea88"
}

.ki-file-zip:before {
    content: "\ea9d"
}

.ki-file-zip-o:before {
    content: "\ea89"
}

.ki-file-upload:before {
    content: "\ea9e"
}

.ki-file-upload-o:before {
    content: "\ea8a"
}

.ki-file-download:before {
    content: "\ea9f"
}

.ki-file-download-o:before {
    content: "\ea8b"
}

.ki-file-check:before {
    content: "\eaa0"
}

.ki-file-check-o:before {
    content: "\ea8c"
}

.ki-folder:before {
    content: "\eaa1"
}

.ki-folder-o:before {
    content: "\ea8d"
}

.ki-folder-open:before {
    content: "\eaa8"
}

.ki-folder-shared:before {
    content: "\eb7d"
}

.ki-folder-zip:before {
    content: "\eaa7"
}

.ki-folder-zip-o:before {
    content: "\ea93"
}

.ki-folder-add:before {
    content: "\eaa2"
}

.ki-folder-add-o:before {
    content: "\ea8e"
}

.ki-folder-remove:before {
    content: "\eaa3"
}

.ki-folder-remove-o:before {
    content: "\ea8f"
}

.ki-folder-check:before {
    content: "\eaa4"
}

.ki-folder-check-o:before {
    content: "\ea90"
}

.ki-folder-upload:before {
    content: "\eaa5"
}

.ki-folder-upload-o:before {
    content: "\ea91"
}

.ki-folder-download:before {
    content: "\eaa6"
}

.ki-folder-download-o:before {
    content: "\ea92"
}

.ki-attachment:before {
    content: "\eb74"
}

.ki-cloud:before {
    content: "\eb75"
}

.ki-cloud-o:before {
    content: "\eb78"
}

.ki-cloud-off:before {
    content: "\eb79"
}

.ki-cloud-upload:before {
    content: "\eb7a"
}

.ki-cloud-upload-o:before {
    content: "\eb7b"
}

.ki-cloud-download:before {
    content: "\eb76"
}

.ki-cloud-download-o:before {
    content: "\eb77"
}

.ki-upload:before {
    content: "\eb7e"
}

.ki-download:before {
    content: "\eb7c"
}

.ki-globus:before {
    content: "\e9d1"
}

.ki-browser:before {
    content: "\e9db"
}

.ki-browser-text:before {
    content: "\e9dc"
}

.ki-rss-square:before {
    content: "\e9e5"
}

.ki-central-signal:before {
    content: "\e9e7"
}

.ki-central-router:before {
    content: "\e9e8"
}

.ki-antenna:before {
    content: "\e9f6"
}

.ki-barcode:before {
    content: "\e9ff"
}

.ki-qr-code:before {
    content: "\ea00"
}

.ki-accessibility:before {
    content: "\eb7f"
}

.ki-branch:before {
    content: "\eb80"
}

.ki-fork:before {
    content: "\eb85"
}

.ki-code-fork:before {
    content: "\eb85"
}

.ki-pull-requests:before {
    content: "\eb92"
}

.ki-merge:before {
    content: "\eb8b"
}

.ki-log:before {
    content: "\eb8a"
}

.ki-bug:before {
    content: "\eb81"
}

.ki-cookie:before {
    content: "\eb82"
}

.ki-fingerprint:before {
    content: "\eb84"
}

.ki-css3:before {
    content: "\eb83"
}

.ki-html5:before {
    content: "\eb86"
}

.ki-javascript:before {
    content: "\eb87"
}

.ki-csharp:before {
    content: "\eb88"
}

.ki-php:before {
    content: "\eb91"
}

.ki-python:before {
    content: "\eb94"
}

.ki-milestone:before {
    content: "\eb8c"
}

.ki-network-company:before {
    content: "\eb8d"
}

.ki-network-folder:before {
    content: "\eb8e"
}

.ki-network-home:before {
    content: "\eb8f"
}

.ki-home-network:before {
    content: "\eb8f"
}

.ki-network-public:before {
    content: "\eb90"
}

.ki-cloud-network:before {
    content: "\eb90"
}

.ki-puzzle:before {
    content: "\eb93"
}

.ki-rss:before {
    content: "\eb95"
}

.ki-social-rssfeed:before {
    content: "\eb95"
}

.ki-server:before {
    content: "\eb96"
}

.ki-network-server:before {
    content: "\eb97"
}

.ki-sitemap:before {
    content: "\eb98"
}

.ki-sitemap-o:before {
    content: "\eb99"
}

.ki-spinner-1:before {
    content: "\ec33"
}

.ki-spinner-2:before {
    content: "\ec34"
}

.ki-spinner-3:before {
    content: "\ec35"
}

.ki-spinner-4:before {
    content: "\ec36"
}

.ki-spinner-5:before {
    content: "\ec37"
}

.ki-full-moon:before {
    content: "\eb0d"
}

.ki-fullmoon:before {
    content: "\eb0d"
}

.ki-half-moon:before {
    content: "\eb0e"
}

.ki-halfmoon:before {
    content: "\eb0e"
}

.ki-crescent:before {
    content: "\eb9b"
}

.ki-moon:before {
    content: "\eb0f"
}

.ki-night:before {
    content: "\eb10"
}

.ki-snow-crystal:before {
    content: "\eb15"
}

.ki-snow:before {
    content: "\eb15"
}

.ki-cloudy:before {
    content: "\eb9c"
}

.ki-fog:before {
    content: "\eb9d"
}

.ki-foggy:before {
    content: "\eb9e"
}

.ki-lightning:before {
    content: "\eb9f"
}

.ki-partly-cloudy:before {
    content: "\eba0"
}

.ki-pouring:before {
    content: "\eba1"
}

.ki-rain:before {
    content: "\eba1"
}

.ki-snowy:before {
    content: "\eba2"
}

.ki-heavy-snow:before {
    content: "\eba2"
}

.ki-sun:before {
    content: "\eba3"
}

.ki-sun-o:before {
    content: "\eba4"
}

.ki-sunset:before {
    content: "\eba5"
}

.ki-sunset-down:before {
    content: "\eba6"
}

.ki-sunset-up:before {
    content: "\eba7"
}

.ki-thermometer:before {
    content: "\eba8"
}

.ki-tint:before {
    content: "\eba9"
}

.ki-humidity:before {
    content: "\eba9"
}

.ki-tint-o:before {
    content: "\ebaa"
}

.ki-tornado:before {
    content: "\ebab"
}

.ki-umbrella:before {
    content: "\ebac"
}

.ki-umbrella-o:before {
    content: "\ebad"
}

.ki-windy:before {
    content: "\ebae"
}

.ki-wind:before {
    content: "\ebae"
}

.ki-windy-variant:before {
    content: "\ebaf"
}

.ki-windsock:before {
    content: "\eb13"
}

.ki-cc-cc:before {
    content: "\eaad"
}

.ki-cc-by:before {
    content: "\eaae"
}

.ki-cc-sa:before {
    content: "\eaaf"
}

.ki-cc-nd:before {
    content: "\eab0"
}

.ki-cc-nc:before {
    content: "\eab1"
}

.ki-cc-nc-eu:before {
    content: "\eab2"
}

.ki-cc-nc-jp:before {
    content: "\eab3"
}

.ki-cc-remix:before {
    content: "\eab4"
}

.ki-cc-pd:before {
    content: "\eab5"
}

.ki-cc-sampling:before {
    content: "\eab6"
}

.ki-cc-zero:before {
    content: "\eab7"
}

.ki-cc-share:before {
    content: "\eab8"
}

.ki-copyleft:before {
    content: "\ebb0"
}

.ki-copyright:before {
    content: "\ebb1"
}

.ki-registered:before {
    content: "\eaab"
}

.ki-trademark:before {
    content: "\eaac"
}

.ki-500px:before {
    content: "\ebb2"
}

.ki-adobe:before {
    content: "\ebb3"
}

.ki-amazon:before {
    content: "\ebb4"
}

.ki-android:before {
    content: "\ebb5"
}

.ki-apple:before {
    content: "\ebb6"
}

.ki-beats:before {
    content: "\ebb7"
}

.ki-behance:before {
    content: "\ebb8"
}

.ki-bing:before {
    content: "\ebb9"
}

.ki-bitbucket:before {
    content: "\ebba"
}

.ki-blackberry:before {
    content: "\ebbb"
}

.ki-blogger:before {
    content: "\ebbc"
}

.ki-cc-amex:before {
    content: "\ebbe"
}

.ki-cc-discover:before {
    content: "\ebbf"
}

.ki-cc-mastercard:before {
    content: "\ebc0"
}

.ki-cc-paypal:before {
    content: "\ebc1"
}

.ki-cc-stripe:before {
    content: "\ebc2"
}

.ki-cc-visa:before {
    content: "\ebc3"
}

.ki-chrome:before {
    content: "\ebc5"
}

.ki-codepen:before {
    content: "\ebc6"
}

.ki-connectdevelop:before {
    content: "\ebc7"
}

.ki-d2:before {
    content: "\ebc8"
}

.ki-dashcube:before {
    content: "\ebc9"
}

.ki-delicious:before {
    content: "\ebca"
}

.ki-deviantart:before {
    content: "\ebcb"
}

.ki-digg:before {
    content: "\ebcc"
}

.ki-disqus:before {
    content: "\ebcd"
}

.ki-dribbble:before {
    content: "\ebce"
}

.ki-dropbox:before {
    content: "\ebcf"
}

.ki-drupal:before {
    content: "\ebd0"
}

.ki-edge:before {
    content: "\ebd1"
}

.ki-evernote:before {
    content: "\ebd2"
}

.ki-facebook:before {
    content: "\ebd3"
}

.ki-facebook-messenger:before {
    content: "\ebd4"
}

.ki-facebook-official:before {
    content: "\ebd5"
}

.ki-feedly:before {
    content: "\ebd6"
}

.ki-firefox:before {
    content: "\ebd7"
}

.ki-flickr:before {
    content: "\eaca"
}

.ki-flickr-square:before {
    content: "\ebd8"
}

.ki-foursquare:before {
    content: "\ebd9"
}

.ki-ghost:before {
    content: "\ebda"
}

.ki-git:before {
    content: "\ebdb"
}

.ki-git-symbol:before {
    content: "\ebdc"
}

.ki-github:before {
    content: "\ebdd"
}

.ki-github-alt:before {
    content: "\ebde"
}

.ki-gmail:before {
    content: "\ebdf"
}

.ki-google:before {
    content: "\ebe0"
}

.ki-google-play:before {
    content: "\ebe1"
}

.ki-google-plus:before {
    content: "\ebe2"
}

.ki-google-wallet:before {
    content: "\ebe3"
}

.ki-gratipay:before {
    content: "\ebe4"
}

.ki-hangouts:before {
    content: "\ebe5"
}

.ki-hunie:before {
    content: "\ebe6"
}

.ki-illustrator:before {
    content: "\ebe7"
}

.ki-illustrator-circle:before {
    content: "\ebe8"
}

.ki-instagram:before {
    content: "\ebe9"
}

.ki-internet-explorer:before {
    content: "\ebea"
}

.ki-jira:before {
    content: "\ebeb"
}

.ki-joomla:before {
    content: "\ebec"
}

.ki-jsfiddle:before {
    content: "\ebed"
}

.ki-kakaostory:before {
    content: "\ebef"
}

.ki-kakaotalk:before {
    content: "\ebee"
}

.ki-kickstarter:before {
    content: "\ebf0"
}

.ki-laravel:before {
    content: "\eb89"
}

.ki-line:before {
    content: "\ebf1"
}

.ki-line-messenger:before {
    content: "\ebf2"
}

.ki-linkedin:before {
    content: "\ebf3"
}

.ki-linkedin-square:before {
    content: "\ebf4"
}

.ki-linux:before {
    content: "\ebf5"
}

.ki-magento:before {
    content: "\ebf6"
}

.ki-maxcdn:before {
    content: "\ebf7"
}

.ki-medium:before {
    content: "\ebf8"
}

.ki-naver:before {
    content: "\ebf9"
}

.ki-naver-square:before {
    content: "\ebfa"
}

.ki-office:before {
    content: "\ebfb"
}

.ki-opencart:before {
    content: "\ebfc"
}

.ki-opera:before {
    content: "\ebfd"
}

.ki-oscommerce:before {
    content: "\ebfe"
}

.ki-path:before {
    content: "\ebff"
}

.ki-paypal:before {
    content: "\ec00"
}

.ki-photoshop:before {
    content: "\ec01"
}

.ki-photoshop-circle:before {
    content: "\ec02"
}

.ki-pinterest:before {
    content: "\ec03"
}

.ki-pinterest-p:before {
    content: "\ec04"
}

.ki-pocket:before {
    content: "\ec05"
}

.ki-qq:before {
    content: "\ec06"
}

.ki-quicktime:before {
    content: "\ec07"
}

.ki-reddit:before {
    content: "\ec08"
}

.ki-renren:before {
    content: "\ec09"
}

.ki-safari:before {
    content: "\ec0a"
}

.ki-sellsy:before {
    content: "\ec0b"
}

.ki-silverstripe:before {
    content: "\ebbd"
}

.ki-simplybuilt:before {
    content: "\ec0c"
}

.ki-sketch:before {
    content: "\ec0d"
}

.ki-skype:before {
    content: "\ec0e"
}

.ki-slack:before {
    content: "\ec0f"
}

.ki-slideshare:before {
    content: "\ec10"
}

.ki-soundcloud:before {
    content: "\ec11"
}

.ki-spotify:before {
    content: "\ec12"
}

.ki-stack-exchange:before {
    content: "\ec13"
}

.ki-stack-overflow:before {
    content: "\ec14"
}

.ki-steam:before {
    content: "\ec15"
}

.ki-steam-square:before {
    content: "\ec16"
}

.ki-stumbleupon:before {
    content: "\ec17"
}

.ki-stumbleupon-circle:before {
    content: "\ec18"
}

.ki-telegram:before {
    content: "\ec19"
}

.ki-tencent-weibo:before {
    content: "\ec1a"
}

.ki-trello:before {
    content: "\ec1b"
}

.ki-tumblr:before {
    content: "\ec1c"
}

.ki-tumblr-square:before {
    content: "\ec1d"
}

.ki-twich:before {
    content: "\ec1e"
}

.ki-twitter:before {
    content: "\ec1f"
}

.ki-ubercart:before {
    content: "\ec20"
}

.ki-ubuntu:before {
    content: "\ec21"
}

.ki-ubuntu-circle:before {
    content: "\ec22"
}

.ki-vimeo:before {
    content: "\ec23"
}

.ki-vine:before {
    content: "\ec24"
}

.ki-vk:before {
    content: "\ec25"
}

.ki-wechat:before {
    content: "\ec26"
}

.ki-whatsapp:before {
    content: "\ec27"
}

.ki-wikipedia:before {
    content: "\ec28"
}

.ki-windows:before {
    content: "\ec29"
}

.ki-wordpress:before {
    content: "\ec2a"
}

.ki-wordpress-official:before {
    content: "\ec2b"
}

.ki-xe:before {
    content: "\ec2c"
}

.ki-xing:before {
    content: "\ec2d"
}

.ki-xpressengine:before {
    content: "\ec2e"
}

.ki-yahoo:before {
    content: "\ec2f"
}

.ki-yelp:before {
    content: "\ec30"
}

.ki-youtube:before {
    content: "\ec31"
}

.ki-youtube-play:before {
    content: "\ec32"
}

.ki-x {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -15%
}

.ki-2x {
    font-size: 2em
}

.ki-3x {
    font-size: 3em
}

.ki-4x {
    font-size: 4em
}

.ki-5x {
    font-size: 5em
}

.ki-spin {
    -webkit-animation: ki-spin 2s infinite linear;
    animation: ki-spin 2s infinite linear
}

@-webkit-keyframes ki-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes ki-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.ki-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.ki-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.ki-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.ki-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.ki-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .ki-flip-horizontal,
:root .ki-flip-vertical,
:root .ki-rotate-180,
:root .ki-rotate-270,
:root .ki-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.ki-fw {
    width: 1.28571em;
    text-align: center
}

.ki-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none
}

.ki-ul > li {
    position: relative
}

.ki-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: .14286em;
    text-align: center
}

.ki-li.ki-lg {
    left: -1.85714em
}

.ki-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

.pull-right {
    float: right;
    margin-right: .3em
}

.pull-left {
    float: left;
    margin-right: .3em
}
