@charset "utf-8";
* { margin:0; padding:0; }
body, html { width: 100%; height: 100%;  font-family: 'NotoSansKR', sans-serif; font-weight:400; line-height:1.6; }
ul { list-style: none; }
a { text-decoration:none; color:#333; }
a, button, input { outline:0; border:0; }