@charset "utf-8";
/* 폰트 설정 */
.fashFont { font-family: 'Srisakdi', cursive; }
.titFont { font-family: 'NotoSansKR', sans-serif; }
.brushFont { font-family: 'Caveat Brush', 'Nanum Brush Script', cursive; }

/* 글자 크기 설정 */
.great { font-size:52px; } /* 대제목  */
.big { font-size:36px; } /* 중제목  */
.medi { font-size:20px; } /* 소제목  */
.nor { font-size:14px; } /* 일반 글자 */
.small { font-size:12px; } /* 작은 글자 */

/* 글자 색 설정 */
.baseTxt { color:#333; }
.subTxt { color:#fff; }
.hoverTxt { color:#1a3b79; }
.blackTxt { color:#000; }
.skyTxt { color:#20ace6; }
.blueTxt { color:#0cb0e2;}
.yellowTxt { color:#fdcd00;}
.redTxt { color:#dd5932;}
.pinkTxt { color:#e64570;}

/* 배경색 설정 */
.baseBg { background-color:#333; }
.subBg { background-color:#fff; }
.hoverBg { background-color:#1a3b79; }
.blackBg { background-color:#000; }
.skyBg { background-color:#20ace6; }
.blueBg { background-color:#0cb0e2;}
.yellowBg { background-color:#fdcd00;}
.redBg { background-color:#dd5932;}
.pinkBg { background-color:#e64570;}

/* 아이콘 설정 */
[class*=ico] { display:block; background-image:url("./images/iconset1.png"); background-repeat:no-repeat; 
width: 60px; height: 60px;   }

[class*=media] { display:block; background-image:url("./images/iconset2w2.png"); background-repeat:no-repeat; 
width:76px; height:78px;   }

[class*=mbkit] { display:block; background-image:url("./images/glyphicons-white.png"); background-repeat:no-repeat; 
width:32px; height:32px;    }

.ico-mail { background-position:-7px -2px; }
.ico-sms { background-position:-66px -2px; }
.ico-tel { background-position:-125px -2px; }
.ico-sharp { background-position:-184px -2px; }
.ico-phone { background-position:-240px -2px; }
.ico-plus { background-position:-299px -2px; }
.ico-minus { background-position:-358px -2px; }
.ico-cross { background-position:-417px -2px; }
.ico-del { background-position:-476px -2px; }

.ico-edit { background-position:-7px -62px; }
.ico-doc-plus { background-position:-66px -62px; }
.ico-doc-minus { background-position:-125px -62px; }
.ico-doc-edit { background-position:-184px -62px; }
.ico-doc-print { background-position:-240px -62px; }
.ico-doc-copy { background-position:-299px -62px; }
.ico-modify { background-position:-358px -62px; }
.ico-repair { background-position:-417px -62px; }
.ico-fix { background-position:-476px -62px; }

.ico-dalla { background-position:-7px -122px; }
.ico-setup { background-position:-66px -122px; }
.ico-home { background-position:-125px -122px; }
.ico-apart { background-position:-184px -122px; }
.ico-check { background-position:-240px -122px; }
.ico-ra-check { background-position:-299px -122px; }
.ico-trash { background-position:-358px -122px; }
.ico-briefcase { background-position:-417px -122px; }
.ico-attach { background-position:-476px -122px; }

.ico-stop { background-position:-7px -183px; }
.ico-calendar { background-position:-66px -183px; }
.ico-recycle { background-position:-125px -183px; }
.ico-area { background-position:-184px -183px; }
.ico-question { background-position:-240px -183px; }
.ico-watch { background-position:-299px -183px; }
.ico-finger { background-position:-358px -183px; }
.ico-arrow { background-position:-417px -183px; }
.ico-flag { background-position:-476px -183px; }

.ico-search { background-position:-7px -234px; }
.ico-weight { background-position:-66px -234px; }
.ico-talk { background-position:-125px -234px; }
.ico-talk-outline { background-position:-184px -234px; }
.ico-member { background-position:-240px -234px; }
.ico-graph1 { background-position:-299px -234px; }
.ico-graph2 { background-position:-358px -234px; }
.ico-graph3 { background-position:-417px -234px; }
.ico-key { background-position:-476px -234px; }

.ico-move { background-position:-7px -294px; }
.ico-start { background-position:-66px -294px; }
.ico-left { background-position:-125px -294px; }
.ico-prev { background-position:-184px -294px; }
.ico-play { background-position:-240px -294px; }
.ico-pause { background-position:-299px -294px; }
.ico-next { background-position:-358px -294px; }
.ico-right { background-position:-417px -294px; }
.ico-end { background-position:-476px -294px; }
.ico-list { background-image:url("./images/iconset1_add.png"); 
background-position:0px 0px; }
.ico-colapOpen { background-image:url("./images/iconset1_add.png"); 
background-position:-60px 0px; }
.ico-colapClose { background-image:url("./images/iconset1_add.png"); 
background-position:-120px 0px; }
.ico-listview { background-image:url("./images/iconset1_add.png"); 
background-position:-180px 0px; }
.ico-gridview { background-image:url("./images/iconset1_add.png"); 
background-position:-240px 0px; }
.ico-thumbview { background-image:url("./images/iconset1_add.png"); 
background-position:-300px 0px; }
.ico-iconview { background-image:url("./images/iconset1_add.png"); 
background-position:-360px 0px; }
.ico-filterview { background-image:url("./images/iconset1_add.png"); 
background-position:-420px 0px; }


.media-trash { background-position:0px 0px; }
.media-tag { background-position:-80px 0px; }
.media-edit { background-position:-160px 0px; }
.media-gps { background-position:-240px 0px; }
.media-key { background-position:-320px 0px; }
.media-heart { background-position:-400px 0px; }
.media-map { background-position:-480px 0px; }
.media-talk { background-position:-560px 0px; }
.media-watch { background-position:-640px 0px; }
.media-lock { background-position:-720px 0px; }
.media-wifi { background-position:-800px 0px; }

.media-speak { background-position:0px -80px; }
.media-movie { background-position:-80px -80px; }
.media-headset { background-position:-160px -80px; }
.media-member { background-position:-240px -80px; }
.media-desktop { background-position:-320px -80px; }
.media-mobile { background-position:-400px -80px; }
.media-setup { background-position:-480px -80px; }
.media-theorem { background-position:-560px -80px; }
.media-erase { background-position:-640px -80px; }
.media-file { background-position:-720px -80px; }
.media-del { background-position:-800px -80px; }

.media-revert { background-position:0px -160px; }
.media-move { background-position:-80px -160px; }
.media-recycle { background-position:-160px -160px; }
.media-stop { background-position:-240px -160px; }
.media-check { background-position:-320px -160px; }
.media-list { background-position:-400px -160px; }
.media-search { background-position:-480px -160px; }
.media-rotate { background-position:-560px -160px; }
.media-close { background-position:-640px -160px; }
.media-slider { background-position:-720px -160px; }
.media-next { background-position:-800px -160px; }

.mbkit-cocktail { background-position:0px 0px; }
.mbkit-leaf { background-position:-47px 0px; }
.mbkit-dog { background-position:-95px 0px; }
.mbkit-man { background-position:-143px 0px; }
.mbkit-women { background-position:-191px 0px; }
.mbkit-car { background-position:-239px 0px; }
.mbkit-join { background-position:-287px 0px; }
.mbkit-secession { background-position:-335px 0px; }
.mbkit-film { background-position:-335px 0px; }
.mbkit-magicwand { background-position:-383px 0px; }

.mbkit-mail { background-position:0px -45px; }
.mbkit-camera { background-position:-47px -45px; }
.mbkit-heart { background-position:-95px -45px; }
.mbkit-umbrella { background-position:-143px -45px; }
.mbkit-train { background-position:-191px -45px; }
.mbkit-sportscar { background-position:-239px -45px; }
.mbkit-trash { background-position:-287px -45px; }
.mbkit-quarternote { background-position:-335px -45px; }
.mbkit-halfnote { background-position:-335px -45px; }
.mbkit-gear { background-position:-383px -45px; }

.mbkit-home { background-position:0px -93px; }
.mbkit-snow { background-position:-47px -93px; }
.mbkit-fire { background-position:-95px -93px; }
.mbkit-gear2 { background-position:-143px -93px; }
.mbkit-meeting { background-position:-191px -93px; }
.mbkit-telescope { background-position:-239px -93px; }
.mbkit-scope { background-position:-287px -93px; }
.mbkit-search { background-position:-335px -93px; }
.mbkit-navi { background-position:-335px -93px; }
.mbkit-building { background-position:-383px -93px; }

.mbkit-pencil { background-position:0px -143px; }
.mbkit-bus { background-position:-47px -143px; }
.mbkit-wifi { background-position:-95px -143px; }
.mbkit-cablecar { background-position:-143px -143px; }
.mbkit-man2 { background-position:-191px -143px; }
.mbkit-women2 { background-position:-239px -143px; }
.mbkit-tower { background-position:-287px -143px; }
.mbkit-tower2 { background-position:-335px -143px; }
.mbkit-airplane { background-position:-335px -143px; }
.mbkit-notepad { background-position:-383px -143px; }

.mbkit-r8c1 { background-position:0px -190px; }
.mbkit-r8c2 { background-position:-47px -190px; }
.mbkit-r8c3 { background-position:-95px -190px; }
.mbkit-r8c4 { background-position:-143px -190px; }
.mbkit-r8c5 { background-position:-191px -190px; }
.mbkit-r8c6 { background-position:-239px -190px; }
.mbkit-r8c7 { background-position:-287px -190px; }
.mbkit-r8c8 { background-position:-335px -190px; }
.mbkit-r8c9 { background-position:-335px -190px; }
.mbkit-r8c10 { background-position:-383px -190px; }

.mbkit-r9c1 { background-position:0px -238px; }
.mbkit-r9c2 { background-position:-47px -238px; }
.mbkit-r9c3 { background-position:-95px -238px; }
.mbkit-r9c4 { background-position:-143px -238px; }
.mbkit-r9c5 { background-position:-191px -238px; }
.mbkit-r9c6 { background-position:-239px -238px; }
.mbkit-r9c7 { background-position:-287px -238px; }
.mbkit-r9c8 { background-position:-335px -238px; }
.mbkit-r9c9 { background-position:-335px -238px; }
.mbkit-r9c10 { background-position:-383px -238px; }

.mbkit-r10c1 { background-position:0px -286px; }
.mbkit-r10c2 { background-position:-47px -286px; }
.mbkit-r10c3 { background-position:-95px -286px; }
.mbkit-r10c4 { background-position:-143px -286px; }
.mbkit-r10c5 { background-position:-191px -286px; }
.mbkit-r10c6 { background-position:-239px -286px; }
.mbkit-r10c7 { background-position:-287px -286px; }
.mbkit-r10c8 { background-position:-335px -286px; }
.mbkit-r10c9 { background-position:-335px -286px; }
.mbkit-r10c10 { background-position:-383px -286px; }

.mbkit-r11c1 { background-position:0px -334px; }
.mbkit-r11c2 { background-position:-47px -334px; }
.mbkit-r11c3 { background-position:-95px -334px; }
.mbkit-r11c4 { background-position:-143px -334px; }
.mbkit-r11c5 { background-position:-191px -334px; }
.mbkit-r11c6 { background-position:-239px -334px; }
.mbkit-r11c7 { background-position:-287px -334px; }
.mbkit-r11c8 { background-position:-335px -334px; }
.mbkit-r11c9 { background-position:-335px -334px; }
.mbkit-r11c10 { background-position:-383px -334px; }

.mbkit-r12c1 { background-position:0px -382px; }
.mbkit-r12c2 { background-position:-47px -382px; }
.mbkit-r12c3 { background-position:-95px -382px; }
.mbkit-r12c4 { background-position:-143px -382px; }
.mbkit-r12c5 { background-position:-191px -382px; }
.mbkit-r12c6 { background-position:-239px -382px; }
.mbkit-r12c7 { background-position:-287px -382px; }
.mbkit-r12c8 { background-position:-335px -382px; }
.mbkit-r12c9 { background-position:-335px -382px; }
.mbkit-r12c10 { background-position:-383px -382px; }

.mbkit-r13c1 { background-position:0px -430px; }
.mbkit-r13c2 { background-position:-47px -430px; }
.mbkit-r13c3 { background-position:-95px -430px; }
.mbkit-r13c4 { background-position:-143px -430px; }
.mbkit-r13c5 { background-position:-191px -430px; }
.mbkit-r13c6 { background-position:-239px -430px; }
.mbkit-r13c7 { background-position:-287px -430px; }
.mbkit-r13c8 { background-position:-335px -430px; }
.mbkit-r13c9 { background-position:-335px -430px; }
.mbkit-r13c10 { background-position:-383px -430px; }

.mbkit-r14c1 { background-position:0px -478px; }
.mbkit-r14c2 { background-position:-47px -478px; }
.mbkit-r14c3 { background-position:-95px -478px; }
.mbkit-r14c4 { background-position:-143px -478px; }
.mbkit-r14c5 { background-position:-191px -478px; }
.mbkit-r14c6 { background-position:-239px -478px; }
.mbkit-r14c7 { background-position:-287px -478px; }
.mbkit-r14c8 { background-position:-335px -478px; }
.mbkit-r14c9 { background-position:-335px -478px; }
.mbkit-r14c10 { background-position:-383px -478px; }

.mbkit-r15c1 { background-position:0px -526px; }
.mbkit-r15c2 { background-position:-47px -526px; }
.mbkit-r15c3 { background-position:-95px -526px; }
.mbkit-r15c4 { background-position:-143px -526px; }
.mbkit-r15c5 { background-position:-191px -526px; }
.mbkit-r15c6 { background-position:-239px -526px; }
.mbkit-r15c7 { background-position:-287px -526px; }
.mbkit-r15c8 { background-position:-335px -526px; }
.mbkit-r15c9 { background-position:-335px -526px; }
.mbkit-r15c10 { background-position:-383px -526px; }

.mbkit-r16c1 { background-position:0px -574px; }
.mbkit-r16c2 { background-position:-47px -574px; }
.mbkit-r16c3 { background-position:-95px -574px; }
.mbkit-r16c4 { background-position:-143px -574px; }
.mbkit-r16c5 { background-position:-191px -574px; }
.mbkit-r16c6 { background-position:-239px -574px; }
.mbkit-r16c7 { background-position:-287px -574px; }
.mbkit-r16c8 { background-position:-335px -574px; }
.mbkit-r16c9 { background-position:-335px -574px; }
.mbkit-r16c10 { background-position:-383px -574px; }

.mbkit-r17c1 { background-position:0px -622px; }
.mbkit-r17c2 { background-position:-47px -622px; }
.mbkit-r17c3 { background-position:-95px -622px; }
.mbkit-r17c4 { background-position:-143px -622px; }
.mbkit-r17c5 { background-position:-191px -622px; }
.mbkit-r17c6 { background-position:-239px -622px; }
.mbkit-r17c7 { background-position:-287px -622px; }
.mbkit-r17c8 { background-position:-335px -622px; }
.mbkit-r17c9 { background-position:-335px -622px; }
.mbkit-r17c10 { background-position:-383px -622px; }

.mbkit-r18c1 { background-position:0px -670px; }
.mbkit-r18c2 { background-position:-47px -670px; }
.mbkit-r18c3 { background-position:-95px -670px; }
.mbkit-r18c4 { background-position:-143px -670px; }
.mbkit-r18c5 { background-position:-191px -670px; }
.mbkit-r18c6 { background-position:-239px -670px; }
.mbkit-r18c7 { background-position:-287px -670px; }
.mbkit-r18c8 { background-position:-335px -670px; }
.mbkit-r18c9 { background-position:-335px -670px; }
.mbkit-r18c10 { background-position:-383px -670px; }

.mbkit-r19c1 { background-position:0px -718px; }
.mbkit-r19c2 { background-position:-47px -718px; }
.mbkit-r19c3 { background-position:-95px -718px; }
.mbkit-r19c4 { background-position:-143px -718px; }
.mbkit-r19c5 { background-position:-191px -718px; }
.mbkit-r19c6 { background-position:-239px -718px; }
.mbkit-r19c7 { background-position:-287px -718px; }
.mbkit-r19c8 { background-position:-335px -718px; }
.mbkit-r19c9 { background-position:-335px -718px; }
.mbkit-r19c10 { background-position:-383px -718px; }

.mbkit-r20c1 { background-position:0px -766px; }
.mbkit-r20c2 { background-position:-47px -766px; }
.mbkit-r20c3 { background-position:-95px -766px; }
.mbkit-r20c4 { background-position:-143px -766px; }
.mbkit-r20c5 { background-position:-191px -766px; }
.mbkit-r20c6 { background-position:-239px -766px; }
.mbkit-r20c7 { background-position:-287px -766px; }
.mbkit-r20c8 { background-position:-335px -766px; }
.mbkit-r20c9 { background-position:-335px -766px; }
.mbkit-r20c10 { background-position:-383px -766px; }

.mbkit-r21c1 { background-position:0px -814px; }
.mbkit-r21c2 { background-position:-47px -814px; }
.mbkit-r21c3 { background-position:-95px -814px; }
.mbkit-r21c4 { background-position:-143px -814px; }
.mbkit-r21c5 { background-position:-191px -814px; }
.mbkit-r21c6 { background-position:-239px -814px; }
.mbkit-r21c7 { background-position:-287px -814px; }
.mbkit-r21c8 { background-position:-335px -814px; }
.mbkit-r21c9 { background-position:-335px -814px; }
.mbkit-r21c10 { background-position:-383px -814px; }

.mbkit-r22c1 { background-position:0px -862px; }
.mbkit-r22c2 { background-position:-47px -862px; }
.mbkit-r22c3 { background-position:-95px -862px; }
.mbkit-r22c4 { background-position:-143px -862px; }
.mbkit-r22c5 { background-position:-191px -862px; }
.mbkit-r22c6 { background-position:-239px -862px; }
.mbkit-r22c7 { background-position:-287px -862px; }
.mbkit-r22c8 { background-position:-335px -862px; }
.mbkit-r22c9 { background-position:-335px -862px; }
.mbkit-r22c10 { background-position:-383px -862px; }

.mbkit-r23c1 { background-position:0px -910px; }
.mbkit-r23c2 { background-position:-47px -910px; }
.mbkit-r23c3 { background-position:-95px -910px; }
.mbkit-r23c4 { background-position:-143px -910px; }
.mbkit-r23c5 { background-position:-191px -910px; }
.mbkit-r23c6 { background-position:-239px -910px; }
.mbkit-r23c7 { background-position:-287px -910px; }
.mbkit-r23c8 { background-position:-335px -910px; }
.mbkit-r23c9 { background-position:-335px -910px; }
.mbkit-r23c10 { background-position:-383px -910px; }

.mbkit-r24c1 { background-position:0px -958px; }
.mbkit-r24c2 { background-position:-47px -958px; }
.mbkit-r24c3 { background-position:-95px -958px; }
.mbkit-r24c4 { background-position:-143px -958px; }
.mbkit-r24c5 { background-position:-191px -958px; }
.mbkit-r24c6 { background-position:-239px -958px; }
.mbkit-r24c7 { background-position:-287px -958px; }
.mbkit-r24c8 { background-position:-335px -958px; }
.mbkit-r24c9 { background-position:-335px -958px; }
.mbkit-r24c10 { background-position:-383px -958px; }

.mbkit-r25c1 { background-position:0px -1006px; }
.mbkit-r25c2 { background-position:-47px -1006px; }
.mbkit-r25c3 { background-position:-95px -1006px; }
.mbkit-r25c4 { background-position:-143px -1006px; }
.mbkit-r25c5 { background-position:-191px -1006px; }
.mbkit-r25c6 { background-position:-239px -1006px; }
.mbkit-r25c7 { background-position:-287px -1006px; }
.mbkit-r25c8 { background-position:-335px -1006px; }
.mbkit-r25c9 { background-position:-335px -1006px; }
.mbkit-r25c10 { background-position:-383px -1006px; }

.mbkit-r26c1 { background-position:0px -1054px; }
.mbkit-r26c2 { background-position:-47px -1054px; }
.mbkit-r26c3 { background-position:-95px -1054px; }
.mbkit-r26c4 { background-position:-143px -1054px; }
.mbkit-r26c5 { background-position:-191px -1054px; }
.mbkit-r26c6 { background-position:-239px -1054px; }
.mbkit-r26c7 { background-position:-287px -1054px; }
.mbkit-r26c8 { background-position:-335px -1054px; }
.mbkit-r26c9 { background-position:-335px -1054px; }
.mbkit-r26c10 { background-position:-383px -1054px; }

.mbkit-r27c1 { background-position:0px -1102px; }
.mbkit-r27c2 { background-position:-47px -1102px; }
.mbkit-r27c3 { background-position:-95px -1102px; }
.mbkit-r27c4 { background-position:-143px -1102px; }
.mbkit-r27c5 { background-position:-191px -1102px; }
.mbkit-r27c6 { background-position:-239px -1102px; }
.mbkit-r27c7 { background-position:-287px -1102px; }
.mbkit-r27c8 { background-position:-335px -1102px; }
.mbkit-r27c9 { background-position:-335px -1102px; }
.mbkit-r27c10 { background-position:-383px -1102px; }

.mbkit-r28c1 { background-position:0px -1150px; }
.mbkit-r28c2 { background-position:-47px -1150px; }
.mbkit-r28c3 { background-position:-95px -1150px; }
.mbkit-r28c4 { background-position:-143px -1150px; }
.mbkit-r28c5 { background-position:-191px -1150px; }
.mbkit-r28c6 { background-position:-239px -1150px; }
.mbkit-r28c7 { background-position:-287px -1150px; }
.mbkit-r28c8 { background-position:-335px -1150px; }
.mbkit-r28c9 { background-position:-335px -1150px; }
.mbkit-r28c10 { background-position:-383px -1150px; }

.mbkit-r29c1 { background-position:0px -1198px; }
.mbkit-r29c2 { background-position:-47px -1198px; }
.mbkit-r29c3 { background-position:-95px -1198px; }
.mbkit-r29c4 { background-position:-143px -1198px; }
.mbkit-r29c5 { background-position:-191px -1198px; }
.mbkit-r29c6 { background-position:-239px -1198px; }
.mbkit-r29c7 { background-position:-287px -1198px; }
.mbkit-r29c8 { background-position:-335px -1198px; }
.mbkit-r29c9 { background-position:-335px -1198px; }
.mbkit-r29c10 { background-position:-383px -1198px; }

.mbkit-r30c1 { background-position:0px -1246px; }
.mbkit-r30c2 { background-position:-47px -1246px; }
.mbkit-r30c3 { background-position:-95px -1246px; }
.mbkit-r30c4 { background-position:-143px -1246px; }
.mbkit-r30c5 { background-position:-191px -1246px; }
.mbkit-r30c6 { background-position:-239px -1246px; }
.mbkit-r30c7 { background-position:-287px -1246px; }
.mbkit-r30c8 { background-position:-335px -1246px; }
.mbkit-r30c9 { background-position:-335px -1246px; }
.mbkit-r30c10 { background-position:-383px -1246px; }

.mbkit-r31c1 { background-position:0px -1294px; }
.mbkit-r31c2 { background-position:-47px -1294px; }
.mbkit-r31c3 { background-position:-95px -1294px; }
.mbkit-r31c4 { background-position:-143px -1294px; }
.mbkit-r31c5 { background-position:-191px -1294px; }
.mbkit-r31c6 { background-position:-239px -1294px; }
.mbkit-r31c7 { background-position:-287px -1294px; }
.mbkit-r31c8 { background-position:-335px -1294px; }
.mbkit-r31c9 { background-position:-335px -1294px; }
.mbkit-r31c10 { background-position:-383px -1294px; }

.mbkit-r32c1 { background-position:0px -1342px; }
.mbkit-r32c2 { background-position:-47px -1342px; }
.mbkit-r32c3 { background-position:-95px -1342px; }
.mbkit-r32c4 { background-position:-143px -1342px; }
.mbkit-r32c5 { background-position:-191px -1342px; }
.mbkit-r32c6 { background-position:-239px -1342px; }
.mbkit-r32c7 { background-position:-287px -1342px; }
.mbkit-r32c8 { background-position:-335px -1342px; }
.mbkit-r32c9 { background-position:-335px -1342px; }
.mbkit-r32c10 { background-position:-383px -1342px; }

.mbkit-r33c1 { background-position:0px -1390px; }
.mbkit-r33c2 { background-position:-47px -1390px; }
.mbkit-r33c3 { background-position:-95px -1390px; }
.mbkit-r33c4 { background-position:-143px -1390px; }
.mbkit-r33c5 { background-position:-191px -1390px; }
.mbkit-r33c6 { background-position:-239px -1390px; }
.mbkit-r33c7 { background-position:-287px -1390px; }
.mbkit-r33c8 { background-position:-335px -1390px; }
.mbkit-r33c9 { background-position:-335px -1390px; }
.mbkit-r33c10 { background-position:-383px -1390px; }

.mbkit-r34c1 { background-position:0px -1438px; }
.mbkit-r34c2 { background-position:-47px -1438px; }
.mbkit-r34c3 { background-position:-95px -1438px; }
.mbkit-r34c4 { background-position:-143px -1438px; }
.mbkit-r34c5 { background-position:-191px -1438px; }
.mbkit-r34c6 { background-position:-239px -1438px; }
.mbkit-r34c7 { background-position:-287px -1438px; }
.mbkit-r34c8 { background-position:-335px -1438px; }
.mbkit-r34c9 { background-position:-335px -1438px; }
.mbkit-r34c10 { background-position:-383px -1438px; }

.mbkit-r35c1 { background-position:0px -1486px; }
.mbkit-r35c2 { background-position:-47px -1486px; }
.mbkit-r35c3 { background-position:-95px -1486px; }
.mbkit-r35c4 { background-position:-143px -1486px; }
.mbkit-r35c5 { background-position:-191px -1486px; }
.mbkit-r35c6 { background-position:-239px -1486px; }
.mbkit-r35c7 { background-position:-287px -1486px; }
.mbkit-r35c8 { background-position:-335px -1486px; }
.mbkit-r35c9 { background-position:-335px -1486px; }
.mbkit-r35c10 { background-position:-383px -1486px; }

.mbkit-r36c1 { background-position:0px -1534px; }
.mbkit-r36c2 { background-position:-47px -1534px; }
.mbkit-r36c3 { background-position:-95px -1534px; }
.mbkit-r36c4 { background-position:-143px -1534px; }
.mbkit-r36c5 { background-position:-191px -1534px; }
.mbkit-r36c6 { background-position:-239px -1534px; }
.mbkit-r36c7 { background-position:-287px -1534px; }
.mbkit-r36c8 { background-position:-335px -1534px; }
.mbkit-r36c9 { background-position:-335px -1534px; }
.mbkit-r36c10 { background-position:-383px -1534px; }

.mbkit-r37c1 { background-position:0px -1582px; }
.mbkit-r37c2 { background-position:-47px -1582px; }
.mbkit-r37c3 { background-position:-95px -1582px; }
.mbkit-r37c4 { background-position:-143px -1582px; }
.mbkit-r37c5 { background-position:-191px -1582px; }
.mbkit-r37c6 { background-position:-239px -1582px; }
.mbkit-r37c7 { background-position:-287px -1582px; }
.mbkit-r37c8 { background-position:-335px -1582px; }
.mbkit-r37c9 { background-position:-335px -1582px; }
.mbkit-r37c10 { background-position:-383px -1582px; }

.mbkit-r38c1 { background-position:0px -1630px; }
.mbkit-r38c2 { background-position:-47px -1630px; }
.mbkit-r38c3 { background-position:-95px -1630px; }
.mbkit-r38c4 { background-position:-143px -1630px; }
.mbkit-r38c5 { background-position:-191px -1630px; }
.mbkit-r38c6 { background-position:-239px -1630px; }
.mbkit-r38c7 { background-position:-287px -1630px; }
.mbkit-r38c8 { background-position:-335px -1630px; }
.mbkit-r38c9 { background-position:-335px -1630px; }
.mbkit-r38c10 { background-position:-383px -1630px; }

.mbkit-r39c1 { background-position:0px -1678px; }
.mbkit-r39c2 { background-position:-47px -1678px; }
.mbkit-r39c3 { background-position:-95px -1678px; }
.mbkit-r39c4 { background-position:-143px -1678px; }
.mbkit-r39c5 { background-position:-191px -1678px; }
.mbkit-r39c6 { background-position:-239px -1678px; }
.mbkit-r39c7 { background-position:-287px -1678px; }
.mbkit-r39c8 { background-position:-335px -1678px; }
.mbkit-r39c9 { background-position:-335px -1678px; }
.mbkit-r39c10 { background-position:-383px -1678px; }

.mbkit-r40c1 { background-position:0px -1726px; }
.mbkit-r40c2 { background-position:-47px -1726px; }
.mbkit-r40c3 { background-position:-95px -1726px; }
.mbkit-r40c4 { background-position:-143px -1726px; }
.mbkit-r40c5 { background-position:-191px -1726px; }
.mbkit-r40c6 { background-position:-239px -1726px; }
.mbkit-r40c7 { background-position:-287px -1726px; }
.mbkit-r40c8 { background-position:-335px -1726px; }
.mbkit-r40c9 { background-position:-335px -1726px; }
.mbkit-r40c10 { background-position:-383px -1726px; }

.mbkit-r41c1 { background-position:0px -1774px; }
.mbkit-r41c2 { background-position:-47px -1774px; }
.mbkit-r41c3 { background-position:-95px -1774px; }
.mbkit-r41c4 { background-position:-143px -1774px; }
.mbkit-r41c5 { background-position:-191px -1774px; }
.mbkit-r41c6 { background-position:-239px -1774px; }
.mbkit-r41c7 { background-position:-287px -1774px; }
.mbkit-r41c8 { background-position:-335px -1774px; }
.mbkit-r41c9 { background-position:-335px -1774px; }
.mbkit-r41c10 { background-position:-383px -1774px; }

.mbkit-r42c1 { background-position:0px -1822px; }
.mbkit-r42c2 { background-position:-47px -1822px; }
.mbkit-r42c3 { background-position:-95px -1822px; }
.mbkit-r42c4 { background-position:-143px -1822px; }
.mbkit-r42c5 { background-position:-191px -1822px; }
.mbkit-r42c6 { background-position:-239px -1822px; }
.mbkit-r42c7 { background-position:-287px -1822px; }
.mbkit-r42c8 { background-position:-335px -1822px; }
.mbkit-r42c9 { background-position:-335px -1822px; }
.mbkit-r42c10 { background-position:-383px -1822px; }

.mbkit-r43c1 { background-position:0px -1870px; }
.mbkit-r43c2 { background-position:-47px -1870px; }
.mbkit-r43c3 { background-position:-95px -1870px; }
.mbkit-r43c4 { background-position:-143px -1870px; }
.mbkit-r43c5 { background-position:-191px -1870px; }
.mbkit-r43c6 { background-position:-239px -1870px; }
.mbkit-r43c7 { background-position:-287px -1870px; }
.mbkit-r43c8 { background-position:-335px -1870px; }
.mbkit-r43c9 { background-position:-335px -1870px; }
.mbkit-r43c10 { background-position:-383px -1870px; }

/*   48씩 증가
-190px
-238px
-286px
-334px
-382px
-430px
-478px
-526px
-574px
-622px
-670px
-718px
-766px
-814px
-862px
-910px
-958px
-1006px
-1054px
-1102px
-1150px
-1198px
-1246px
*/
/*
-1294px
-1342px
-1390px
-1438px
-1486px
-1534px
-1582px
-1630px
-1678px
-1726px
-1774px
-1822px
-1870px
*/


ol.dsc, ul.dsc { list-style:disc; padding-left:20px; }
ol.sqr, ul.sqr { list-style:square; padding-left:20px; }
ol.cir, ul.cir { list-style:circle; padding-left:20px; }
ol.arm, ul.arm { list-style-type:armenian; padding-left: 20px; }
ul.dec { list-style-type:decimal; padding-left: 20px; }
ul.dcl { list-style-type:decimal-leading-zero; padding-left: 20px; }
ul.geo { list-style-type:georgian;  padding-left: 20px; }
ul.lal { list-style-type:lower-alpha; padding-left: 20px; }
ul.lgr { list-style-type:lower-greek; padding-left: 20px; }
ul.lla { list-style-type:lower-latin; padding-left: 20px; }
ul.lro { list-style-type:lower-roman; padding-left: 20px; }
ul.ual { list-style-type:upper-alpha; padding-left: 20px; }
ul.ula { list-style-type:upper-latin; padding-left: 20px; }
ul.uro { list-style-type:upper-roman; padding-left: 20px; }

[class*=bl] li:before { background-image:url("images/bullet.png"); 
    background-size:300px 249px; background-repeat:no-repeat; padding-left:20px; content:""; display:block; width: 24px; height:24px; }
ul.bl-disk li:before { background-position:0px 0px; }
ul.bl-pin li:before { background-position:-30px 0px; }
ul.bl-monitor li:before { background-position:-60px 0px; }
ul.bl-mouse li:before { background-position:-90px 0px; }
ul.bl-write li:before { background-position:-120px 0px; }
ul.bl-talk li:before { background-position:-150px 0px; }
ul.bl-edit li:before { background-position:-180px 0px; }
ul.bl-print li:before { background-position:-210px 0px; }
ul.bl-flag li:before { background-position:-240px 0px; }
ul.bl-magnify li:before { background-position:-270px 0px; }

ul.bl-people li:before { background-position:0px -25px; }
ul.bl-community li:before { background-position:-30px -25px; }
ul.bl-drum li:before { background-position:-60px -25px; }
ul.bl-headset li:before { background-position:-90px -25px; }
ul.bl-setting li:before { background-position:-120px -25px; }
ul.bl-lighting li:before { background-position:-150px -25px; }
ul.bl-letter li:before { background-position:-180px -25px; }
ul.bl-briefcase li:before { background-position:-210px -25px; }
ul.bl-filedel li:before { background-position:-240px -25px; }
ul.bl-filein li:before { background-position:-270px -25px; }

ul.bl-fire li:before { background-position:0px -50px; }
ul.bl-stand li:before { background-position:-30px -50px; }
ul.bl-businessman li:before { background-position:-60px -50px; }
ul.bl-man li:before { background-position:-90px -50px; }
ul.bl-walltv li:before { background-position:-120px -50px; }
ul.bl-wifi li:before { background-position:-150px -50px; }
ul.bl-network li:before { background-position:-180px -50px; }
ul.bl-usblink li:before { background-position:-210px -50px; }
ul.bl-filecopy li:before { background-position:-240px -50px; }
ul.bl-fileadd li:before { background-position:-270px -50px; }

ul.bl-wifi2 li:before { background-position:0px -75px; }
ul.bl-pie li:before { background-position:-30px -75px; }
ul.bl-chat li:before { background-position:-60px -75px; }
ul.bl-smile li:before { background-position:-90px -75px; }
ul.bl-note li:before { background-position:-120px -75px; }
ul.bl-bar li:before { background-position:-150px -75px; }
ul.bl-fashion li:before { background-position:-180px -75px; }
ul.bl-emergency li:before { background-position:-210px -75px; }
ul.bl-player li:before { background-position:-240px -75px; }
ul.bl-fan li:before { background-position:-270px -75px; }

ul.bl-computer li:before { background-position:0px -100px; }
ul.bl-trash li:before { background-position:-30px -100px; }
ul.bl-trash2 li:before { background-position:-60px -100px; }
ul.bl-umbrella li:before { background-position:-90px -100px; }
ul.bl-net1 li:before { background-position:-120px -100px; }
ul.bl-net2 li { background-position:-150px -100px; }
ul.bl-move li { background-position:-180px -100px; }
ul.bl-smartphone li { background-position:-210px -100px; }
ul.bl-tel li { background-position:-240px -100px; }
ul.bl-home li { background-position:-270px -100px; }

ul.bl-browser li { background-position:0px -125px; }
ul.bl-bookmark li { background-position:-30px -125px; }
ul.bl-battery li { background-position:-60px -125px; }
ul.bl-clip li { background-position:-90px -125px; }
ul.bl-radios li { background-position:-120px -125px; }
ul.bl-movingcut li { background-position:-150px -125px; }
ul.bl-earth li { background-position:-180px -125px; }
ul.bl-unlock li { background-position:-210px -125px; }
ul.bl-lock li { background-position:-240px -125px; }
ul.bl-backward li { background-position:-270px -125px; }

ul.bl-airplane li { background-position:0px -150px; }
ul.bl-truck li { background-position:-30px -150px; }
ul.bl-star li { background-position:-60px -150px; }
ul.bl-profile li { background-position:-90px -150px; }
ul.bl-link li { background-position:-120px -150px; }
ul.bl-tape li { background-position:-150px -150px; }
ul.bl-heart li { background-position:-180px -150px; }
ul.bl-cloud li { background-position:-210px -150px; }
ul.bl-cloud2 li { background-position:-240px -150px; }
ul.bl-yacht li { background-position:-270px -150px; }

ul.bl-radiation li { background-position:0px -175px; }
ul.bl-beaker li { background-position:-30px -175px; }
ul.bl-undo li { background-position:-60px -175px; }
ul.bl-dallar li { background-position:-90px -175px; }
ul.bl-calendar li { background-position:-120px -175px; }
ul.bl-mic li { background-position:-150px -175px; }
ul.bl-plant li { background-position:-180px -175px; }
ul.bl-umbrella2 li { background-position:-210px -175px; }
ul.bl-earth2 li { background-position:-240px -175px; }
ul.bl-world li { background-position:-270px -175px; }

ul.bl-notepad li { background-position:0px -200px; }
ul.bl-scissors li { background-position:-30px -200px; }
ul.bl-power li { background-position:-60px -200px; }
ul.bl-chains li { background-position:-90px -200px; }
ul.bl-tag li { background-position:-120px -200px; }
ul.bl-media li { background-position:-150px -200px; }
ul.bl-audioset li { background-position:-180px -200px; }
ul.bl-pc li { background-position:-210px -200px; }
ul.bl-power2 li { background-position:-240px -200px; }
ul.bl-ribbon li { background-position:-270px -200px; }

ul.bl-flower li { background-position:0px -225px; }
ul.bl-spanner li { background-position:-30px -225px; }
ul.bl-apple li { background-position:-60px -225px; }
ul.bl-shield li { background-position:-90px -225px; }
ul.bl-thunderstroke li { background-position:-120px -225px; }
ul.bl-weighing li { background-position:-150px -225px; }
ul.bl-bird li { background-position:-180px -225px; }
ul.bl-kettle li { background-position:-210px -225px; }
ul.bl-town li { background-position:-240px -225px; }
ul.bl-glasses li { background-position:-270px -225px; }


[class*=ut] li:before { padding-right:14px; }
ul.ut-rec li:before { content:"□";  }
ul.ut-imp li:before { content:"※";  }
ul.ut-star li:before { content:"☆";  }
ul.ut-fstar li:before { content:"★"; }
ul.ut-tri li:before { content:"△";  }
ul.ut-ftri li:before { content:"▲";  }
ul.ut-btri li:before { content:"▽";  }
ul.ut-fbtri li:before { content:"▼";  }
ul.ut-ltri li:before { content:"◁";  }
ul.ut-fltri li:before { content:"◀"; }
ul.ut-rtri li:before { content:"▷";  }
ul.ut-frtri li:before { content:"▶";  }
ul.ut-spd li:before { content:"♤";  }
ul.ut-fspd li:before { content:"♠";  }
ul.ut-clv li:before { content:"♧";  }
ul.ut-fclv li:before { content:"♣";  }
ul.ut-hrt li:before { content:"♡";  }
ul.ut-fhrt li:before { content:"♥";  }
ul.ut-dia li:before { content:"◇";  }
ul.ut-fdia li:before { content:"◆";  }
ul.ut-dcir li:before { content:"◎";  }
ul.ut-dcon li:before { content:"⊙";  }
ul.ut-ddia li:before { content:"◈";  }
ul.ut-drec li:before { content:"▣";  }
ul.ut-hldsc li:before { content:"◐";  }
ul.ut-hrdsc li:before { content:"◑";  }
ul.ut-rrec li:before { content:"▤";  }
ul.ut-crec li:before { content:"▥";  }
ul.ut-rdia li:before { content:"▧";  }
ul.ut-ldia li:before { content:"▨";  }
ul.ut-cro li:before { content:"▦";  }
ul.ut-comb li:before { content:"▩";  }
ul.ut-spa li:before { content:"♨";  }
ul.ut-tel li:before { content:"☏";  }
ul.ut-ftel li:before { content:"☎";  }
ul.ut-lfin li:before { content:"☜";  }
ul.ut-rfin li:before { content:"☞";  }
ul.ut-rar li:before { content:"→";  }
ul.ut-lar li:before { content:"←";  }
ul.ut-uar li:before { content:"↑";  }
ul.ut-bar li:before { content:"↓";  }
ul.ut-lrar li:before { content:"↔";  }
ul.ut-ubar li:before { content:"↕";  }
ul.ut-urar li:before { content:"↗";  }
ul.ut-blar li:before { content:"↙";  }
ul.ut-ular li:before { content:"↖";  }
ul.ut-brar li:before { content:"↘";  }
ul.ut-drec li:before { content:"♭";  }
ul.ut-hnote li:before { content:"♩";  }
ul.ut-qnote li:before { content:"♪";  }
ul.ut-snote li:before { content:"♬";  }
ul.ut-ks li:before { content:"㉿";  }
ul.ut-tm li:before { content:"™";  }

/* 그리드 레이아웃 설정 - px단위 고정크기 거터없는 그리드 */
[class*=col] { float:left; display:block; }
.col1 { width: 100px; }
.col2 { width: 200px; }
.col3 { width: 300px; }
.col4 { width: 400px; }
.col5 { width: 500px; }
.col6 { width: 600px; }
.col7 { width: 700px; }
.col8 { width: 800px; }

/* 그리드 레이아웃 설정 - %단위 가변크기 거터없는 그리드 */
[class*=span] { float:left; display:block; }
.span1 { width:8.33333%; *width:8.3%; _width:8.3%; }
.span2 { width:16.66667%; }
.span3 { width:25%; }

/* 그리드 레이아웃 설정 - px단위 고정크기 거터있는 그리드 */
.fixGridLayout { width:1180px; margin:0 auto;}
[class*=dan-] { float:left; display:block; margin-right: 20px; }
[class*=dan-]:last-child { margin-right:0; }
[class=dan-].last { margin-right:0; }
.dan-1 { width: 80px; }
.dan-2 { width: 180px; }
.dan-3 { width: 280px; }
.dan-4 { width: 380px; }
.dan-5 { width: 480px; }
.dan-6 { width: 580px; }
.dan-7 { width: 680px; }
.dan-8 { width: 780px; }
.dan-9 { width: 880px; }
.dan-10 { width: 980px; }
.dan-11 { width: 1080px; }
.dan-12 { width: 1180px; }

/* 그리드 레이아웃 설정 - %단위 동적크기 거터있는 그리드 */
.dynamicGridLayout { width:100%; margin:0 auto;}
[class*=grd-] { float:left; display:block; margin-right:2%; }
/*
[class*=grd-]:first-child { margin-left:0; }
[class*=grd-]:last-child { margin-right:0; }
*/
[class=grd-].first { margin-left:0; clear:both; }
[class=grd-].last { margin-right:0; }
.grd-1 { width: 6.5%; }
.grd-2 { width: 15%; }
.grd-3 { width: 23.5%; }
.grd-4 { width: 32%; }
.grd-5 { width: 40.5%; }
.grd-6 { width: 49%; }
.grd-7 { width: 57.5%; }
.grd-8 { width: 66%; }
.grd-9 { width: 74.5%; }
.grd-10 { width: 83%; }
.grd-11 { width: 91.5%; }
.grd-12 { width: 100%; }

/* 그리드 레이아웃 설정 - %단위 동적크기 거터있는 그리드2 */
.dynamicGridLayout2 { width:100%; margin:0 auto;}
[class*=gdr-] { float:left; display:block; margin-right:2%; }
[class*=gdr-]:first-child { margin-left:3%; }
[class*=gdr-]:last-child { margin-right:3%; }
[class=gdr-].first { margin-left:3%; }
[class=gdr-].last { margin-right:3%; }
.gdr-1 { width: 6%; }
.gdr-2 { width: 14%; }
.gdr-3 { width: 22%; }
.gdr-4 { width: 30%; }
.gdr-5 { width: 38%; }
.gdr-6 { width: 46%; }
.gdr-7 { width: 54%; }
.gdr-8 { width: 62%; }
.gdr-9 { width: 70%; }
.gdr-10 { width: 78%; }
.gdr-11 { width: 86%; }
.gdr-12 { width: 94%; }

